<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Tambah Departemen
          <small>Tambah departemen</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Tambah Departemen</h3>
              </div>
              <form v-on:submit.prevent="onAdd" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.deskripsi}">
                    <label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
                    <div class="col-sm-10">
                      <textarea v-model="input.deskripsi" class="form-control" rows="3" placeholder="Deskripsi"></textarea>
                      <span v-if="error.deskripsi" v-html="getDescriptionErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.departemen}">
                    <label for="volume" class="col-sm-2 control-label">Departemen Atas</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedDepartment"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama departemen"
                        :options="departments"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Data tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span v-if="error.departemen" v-html="getDepartmentErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Tambah departemen" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-plus-sign"></i> Tambah
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil } from '../../functions'
  const initialInput = {
    nama: null,
    deskripsi: null
  }
  const initialError = {
    nama: null,
    deskripsi: null,
    departemen: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        selectedDepartment: null,
        departments: [],
        input: {
          nama: null,
          deskripsi: null
        },
        error: {
          nama: null,
          deskripsi: null,
          departemen: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getDeskripsiErrorMessages() {
        if (this.error.deskripsi) {
          return this.error.deskripsi.join('<br />')
        }
      },
      getDepartmentErrorMessages() {
        if (this.error.departemen) {
          return this.error.departemen.join('<br />')
        }
      }
    },
    methods: {
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/departement?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.departments = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            _this.isLoading = false
            console.error(err)
          })
        }, 1000
      ),
      onAdd() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (isError) {
          return
        }
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          deskripsi: this.input.deskripsi,
          id_departemen_atasan: (this.selectedDepartment === null) ? '' : this.selectedDepartment.id,
        }
        this.$http.post(`api/departement`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.selectedDepartment = null
          this.departments = []
          berhasil('Departemen berhasil ditambahkan')
        }).catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      }
    }
  }
</script>
