<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Daftar Departemen
          <small>Daftar semua departemen</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Daftar Departemen</h3>
                <div v-if="!departmentStore.isLoading" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input v-model="keyword" @keyup.enter="onSearch" type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="departmentStore.isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th width="5%">ID</th>
                      <th width="25%">Nama</th>
                      <th width="35%">Deskripsi</th>
                      <th width="25%">Dep. Atas</th>
                      <th width="10%">Aksi</th>
                    </tr>
                    <tr v-for="departement in departmentStore.departements">
                      <td>{{departement.id}}</td>
                      <td>{{departement.name}}</td>
                      <td>{{departement.description}}</td>
                      <td>{{(departement.parent === null) ? '' : departement.parent.name}}</td>
                      <td>
                        <div class="btn-group">
                          <button @click.prevent="onEdit(departement.id)" class="btn btn-sm btn-flat btn-info" title="Sunting departemen"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button @click.prevent="onDelete(departement.id)" class="btn btn-sm btn-flat btn-danger" title="Hapus departemen"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
                <simple-pagination v-if="!departmentStore.isLoading && (departmentStore.prev_page_url !== null || departmentStore.next_page_url !== null)" :onFetch="onFetch" :prevPageUrl="departmentStore.prev_page_url" :nextPageUrl="departmentStore.next_page_url"></simple-pagination>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { getAuthorizationToken, berhasil, galat } from '../../functions'
  import Alert from '../Common/Alert.vue'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import SimplePagination from '../Common/SimplePagination.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  export default {
    components: {
      Alert,
      Navbar,
      Sidebar,
      SimplePagination,
      ClipLoader
    },
    data() {
      return {
        keyword: null
      }
    },
    computed: {
      ...mapState({
        departmentStore: state => state.departmentStore
      })
    },
    methods: {
      onFetch(query = null) {
        let url = `api/departement`
        if (query) {
          url += query
        }
        this.$store.dispatch('toggleDepartementLoading')
        this.$http.get(url, getAuthorizationToken()).then(function(res) {
          this.$store.dispatch('getDepartements', res.body.data)
          this.$store.dispatch('getDepartementsPagination', { prev_page_url: res.body.prev_page_url, next_page_url: res.body.next_page_url})
          this.$store.dispatch('toggleDepartementLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleDepartementLoading')
        })
      },
      onSearch() {
        this.onFetch(`?keyword=${this.keyword}`);
      },
      onEdit(departmentId) {
        this.$router.push({ name: 'suntingDepartemen', params: { id: departmentId } })
      },
      onDelete(departmentId) {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang berada di bawah departemen ini juga akan dihapus!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/departement/${departmentId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      }
    },
    created() {
      this.onFetch()
    }
  }
</script>
