<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Penanggung Jawab Departemen
          <small>Penanggung jawab departemen Anda saat ini</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Data penanggung jawab departemen</h3>
              </div>
              <form v-on:submit.prevent="onSave" role="form">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama">Nama</label>
                    <input v-model="input.nama" type="text" class="form-control" placeholder="Nama lengkap" :disabled="isLoading">
                    <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.jabatan}">
                    <label for="jabatan">Jabatan</label>
                    <input v-model="input.jabatan" type="text" class="form-control" placeholder="Jabatan, misal : Kepala / Ketua / Petugas" :disabled="isLoading">
                    <span v-if="error.jabatan" v-html="getPositionErrorMessages" class="help-block"></span>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.nip}">
                    <label for="nip">NIP</label>
                    <input v-model="input.nip" type="text" class="form-control" placeholder="Nomor induk pegawai" :disabled="isLoading">
                    <span v-if="error.nip" v-html="getNipErrorMessages" class="help-block"></span>
                  </div>
                </div>
                <div class="box-footer">
                  <button v-if="!isLoading" type="submit" class="btn btn-info btn-flat pull-right" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-floppy-disk"></i> Simpan
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    id: null,
    nama: null,
    jabatan: null,
    nip: null
  }
  const initialError = {
    nama: null,
    jabatan: null,
    nip: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        input: {
          id: null,
          nama: null,
          jabatan: null,
          nip: null
        },
        error: {
          nama: null,
          jabatan: null,
          nip: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getPositionErrorMessages() {
        if (this.error.jabatan) {
          return this.error.jabatan.join('<br />')
        }
      },
      getNipErrorMessages() {
        if (this.error.nip) {
          return this.error.nip.join('<br />')
        }
      }
    },
    methods: {
      onFetch(departmentId) {
        this.isLoading = true
        this.$http.get(`api/coordinator/${departmentId}`, getAuthorizationToken())
        .then(function(res) {
          this.isLoading = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.input.id = res.data.id
          this.input.nama = res.data.name
          this.input.jabatan = res.data.position
          this.input.nip = res.data.nip
          if (typeof res.data.id === 'undefined') {
            this.input.id = null
          }
          if (typeof res.data.name === 'undefined') {
            this.input.nama = null
          }
          if (typeof res.data.position === 'undefined') {
            this.input.jabatan = null
          }
          if (typeof res.data.nip === 'undefined') {
            this.input.nip = null
          }
        }).catch(function(err) {
          console.error(err)
          this.isLoading = false
          galat(err.data.message)
        })
      },
      onSave() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.jabatan === null || this.input.jabatan === '') {
          isError = true
          this.error.jabatan = ['Jabatan harus diisi']
        }
        if (this.input.nip === null || this.input.nip === '') {
          isError = true
          this.error.nip = ['NIP harus diisi']
        }
        if (isError) {
          return
        }
        const data = {
          nama: this.input.nama,
          jabatan: this.input.jabatan,
          nip: this.input.nip
        }
        if (this.input.id === null) {
          this.isSubmiting = true
          this.$http.post(`api/coordinator/${user.departement.id}`, data, getAuthorizationToken())
          .then(function(res) {
            this.isSubmiting = false
            this.input.id = res.data.id
            this.input.nama = res.data.name
            this.input.jabatan = res.data.position
            this.input.nip = res.data.nip
            berhasil('Data berhasil disimpan')
          })
          .catch(function(err) {
            console.error(err)
            this.isSubmiting = false
            galat(err.data.message)
          })
        } else {
          this.isSubmiting = true
          this.$http.put(`api/coordinator/${this.input.id}`, data, getAuthorizationToken())
          .then(function(res) {
            this.isSubmiting = false
            this.input.id = res.data.id
            this.input.nama = res.data.name
            this.input.jabatan = res.data.position
            this.input.nip = res.data.nip
            berhasil('Data berhasil diperbaruhi')
          })
          .catch(function(err) {
            console.error(err)
            this.isSubmiting = false
            galat(err.data.message)
          })
        }
      }
    },
    created() {
      const user = JSON.parse(window.localStorage.getItem('user'))
      this.onFetch(user.departement.id)
    }
  }
</script>
