<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Edit Departemen
          <small>Edit departemen</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Edit Departemen</h3>
              </div>
              <form v-on:submit.prevent="onUpdate" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama" :disabled="isLoading">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.deskripsi}">
                    <label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
                    <div class="col-sm-10">
                      <textarea v-model="input.deskripsi" class="form-control" rows="3" placeholder="Deskripsi" :disabled="isLoading"></textarea>
                      <span v-if="error.deskripsi" v-html="getDescriptionErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Sunting departemen" :disabled="isLoading || isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-pencil"></i> Sunting
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil } from '../../functions'
  const initialInput = {
    nama: null,
    deskripsi: null
  }
  const initialError = {
    nama: null,
    deskripsi: null,
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        selectedDepartment: null,
        departments: [],
        input: {
          nama: null,
          deskripsi: null
        },
        error: {
          nama: null,
          deskripsi: null,
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getDeskripsiErrorMessages() {
        if (this.error.deskripsi) {
          return this.error.deskripsi.join('<br />')
        }
      },
    },
    methods: {
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/departement?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.departments = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            _this.isLoading = false
            console.error(err)
          })
        }, 1000
      ),
      onUpdate() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (isError) {
          return
        }
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          deskripsi: this.input.deskripsi
        }
        this.$http.put(`api/departement/${this.$route.params.id}`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.selectedDepartment = null
          this.departments = []
          this.$router.push({ name: 'departemen' })
          // berhasil('Departemen berhasil ditambahkan')
        }).catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      },
      onFetch(departmentId) {
        this.isLoading = true
        this.$http.get(`api/departement/${departmentId}`, getAuthorizationToken())
        .then(function(res) {
          this.isLoading = false
          this.input = {
            nama: res.data.name,
            deskripsi: res.data.description
          }
        }).catch(function(err) {
          console.error(err)
          this.isLoading = false
          galat(err.data.message)
        })
      }
    },
    created() {
      this.onFetch(this.$route.params.id)
    }
  }
</script>
