<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Tambah Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div v-if="selectedBill === null" class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="volume" class="col-sm-2 control-label">Rekening</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedBill"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama rekening"
                        :options="bills"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Kategori tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span class="help-block"><small><i>Rancangan anggaran akan dimasukkan ke dalam rekening lain-lain jika tidak diisi</i></small></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Tambah Kegiatan</h3>
              </div>
              <form v-on:submit.prevent="onAdd" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.volume}">
                    <label for="volume" class="col-sm-2 control-label">Volume</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.volume" type="number" class="form-control" id="volume" placeholder="">
                      <span v-if="error.volume" v-html="getVolumeErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="satuan" class="col-sm-2 control-label">Satuan</label>
                    <div class="col-sm-10">
                      <input v-model="input.satuan" type="text" class="form-control" id="satuan" placeholder="">
                      <span class="help-block"><small><i>akan berisi 'buah' jika tidak diisi</i></small></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.harga}">
                    <label for="harga" class="col-sm-2 control-label">Harga Satuan</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.harga" type="number" class="form-control" id="harga" placeholder="">
                      <span v-if="error.harga" v-html="getPriceErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="anggaran" class="col-sm-2 control-label">Anggaran</label>
                    <div class="col-sm-10">
                      <input v-model="input.total" type="text" class="form-control" id="anggaran" placeholder="" disabled="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lokasi" class="col-sm-2 control-label">Lokasi</label>
                    <div class="col-sm-10">
                      <input v-model="input.lokasi" type="text" class="form-control" id="lokasi" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Tambah rincian rekening"><i class="glyphicon glyphicon-plus-sign"></i> Tambah</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box">
              <div class="box-header">
                <div v-if="selectedBill !== null">
                  <h3 class="box-title">{{selectedBill.code}} - {{selectedBill.name}}</h3>
                  <a href="" @click.prevent="onReset"><small>Reset rekening</small></a>
                </div>
              </div>
              <div class="box-body no-padding">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th style="width: 5%">#</th>
                      <th style="width: 45%">Nama</th>
                      <th style="width: 30%">Jumlah Anggaran</th>
                      <th style="width: 25%">Aksi</th>
                    </tr>
                    <tr v-if="addedBudgets.length === 0">
                      <td colspan="3" class="text-center">Tidak ada data</td>
                    </tr>
                    <tr v-else v-for="(budget, index) in addedBudgets">
                      <td>{{ index + 1 }}</td>
                      <td>{{ budget.name }}</td>
                      <td>{{ getRupiah(budget.total) }}</td>
                      <td>
                        <div class="btn-group">
                          <button @click.prevent="onEdit(index, budget)" class="btn btn-sm btn-flat btn-info" title="Sunting rancangan anggaran"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button @click.prevent="onDelete(index, budget)" class="btn btn-sm btn-flat btn-danger" title="Hapus rancangan anggaran"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="text-center">Total</td>
                      <td>{{total}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
                <button v-if="addedBudgets.length > 0" @click="onSubmit" class="btn btn-success pull-right btn-sm btn-flat" :disabled="isSubmiting">
                  <pulse-loader v-if="isSubmiting" color="#fff"></pulse-loader>
                  <span v-else>
                    <i class="glyphicon glyphicon-floppy-disk"></i> Simpan
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    index: null,
    nama: null,
    volume: 0,
    satuan: null,
    harga: 0,
    total: 0,
    lokasi: null
  }
  const initialError = {
    nama: null,
    volume: null,
    harga: null
  }
  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        selectedBill: null,
        bills: [],
        input: {
          index: null,
          nama: null,
          volume: 0,
          satuan: null,
          harga: 0,
          total: 0,
          lokasi: null
        },
        error: {
          nama: null,
          volume: null,
          harga: null
        },
        addedBudgets: []
      }
    },
    computed: {
      ...mapState({
        budgetStore: state => state.budgetStore
      }),
      total: function() {
        let total = 0
        this.addedBudgets.forEach(function(budget) {
          total += budget.total
        })
        return rupiah(total)
      },
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getUnitErrorMessages() {
        if (this.error.satuan) {
          return this.error.satuan.join('<br />')
        }
      },
      getVolumeErrorMessages() {
        if (this.error.volume) {
          return this.error.volume.join('<br />')
        }
      },
      getPriceErrorMessages() {
        if (this.error.harga) {
          return this.error.harga.join('<br />')
        }
      }
    },
    methods: {
      onAdd() {
        this.error = {
          ...initialError
        }
        if (this.input.nama === null || this.input.nama === '') {
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.volume <= 0) {
          this.error.volume = ['Jumlah harus diisi']
        }
        if (this.input.harga <= 0) {
          this.error.harga = ['Harga harus diisi']
        }
        if (this.error.nama !== null || this.error.volume !== null || this.error.harga !== null) {
          return
        }
        const user = JSON.parse(window.localStorage.getItem('user'))
        const data = {
          name: this.input.nama,
          volume: this.input.volume,
          unit: (this.input.satuan === null || this.input.satuan === '') ? 'buah' : this.input.satuan,
          price: this.input.harga,
          total: this.input.volume * this.input.harga,
          location: this.input.lokasi,
          bill_id: (this.selectedBill === null) ? null : this.selectedBill.id
        }
        if (this.input.index !== null) {
          this.addedBudgets = [
            ...this.addedBudgets.slice(0, this.input.index),
            data,
            ...this.addedBudgets.slice(this.input.index + 1)
          ]
        } else {
          this.addedBudgets.push(data)
        }
        this.input = {
          ...initialInput
        }
      },
      onEdit(index, budget) {
        if (index === this.input.index) {
          return
        }
        const formatedBudget = {
          nama: budget.name,
          volume: budget.volume,
          satuan: budget.unit,
          harga: budget.price,
          lokasi: budget.location
        }
        const data = {
          index,
          ...formatedBudget
        }
        this.input = { ...data }
      },
      onDelete(index, budget) {
        this.addedBudgets = [
          ...this.addedBudgets.slice(0, index),
          ...this.addedBudgets.slice(index + 1)
        ]
      },
      onSubmit() {
        this.isSubmiting = true
        const data = this.addedBudgets
        let options = getAuthorizationToken()
        this.$http.post(`api/budget/insert`, data, {
          ...options,
          headers: {
            ...options.headers,
            'Content-Type': 'application/json'
          }
        })
        .then(function(res) {
          this.isSubmiting = false
          this.addedBudgets = []
          this.selectedBill = null
          berhasil('Data berhasil ditambahkan!')
        }).catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      },
      getRupiah: function(num) {
        return rupiah(num)
      },
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/bill?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.bills = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      onReset() {
        this.selectedBill = null
      }
    },
    watch: {
      'input.volume': function(newVolume) {
        if (newVolume !== null && newVolume !== '') {
          if (this.input.harga > 0) {
            this.input.total = rupiah(newVolume * this.input.harga)
          } else {
            this.input.total = rupiah(newVolume)
          }
        }
      },
      'input.harga': function(newHarga) {
        if (newHarga !== null && newHarga !== '') {
          if (this.input.volume > 0) {
            this.input.total = rupiah(newHarga * this.input.volume)
          } else {
            this.input.total = rupiah(newHarga)
          }
        }
      }
    }
  }
</script>
