<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rancangan Anggaran
          <small>{{(typeof period.year !== 'undefined') ? `Periode tahun ${period.year}` : `-`}} <i>{{(period.has_revision) ? `(Anggaran Perubahan)` : null}}</i></small>
        </h1>
      </section>
      <section class="content">
        <div v-if="!this.isEdit" class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"></h3>
                <div v-if="budgetStore.departments.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih departemen</span>
                    <select v-model="selectedDepartment" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="budgetStore.isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Nama</th>
                      <th>Volume</th>
                      <th>Satuan</th>
                      <th>Harga (Rupiah)</th>
                      <th>Anggaran (Rupiah)</th>
                      <th>Lokasi</th>
                      <th>Unit</th>
                      <th>Aksi</th>
                    </tr>
                    <tr v-if="budgetStore.budgets.length === 0">
                      <td colspan="8" class="text-center"><i>Tidak terdapat data</i></td>
                    </tr>
                    <template v-else v-for="(budget, index) in budgetStore.budgets">
                      <tr v-if="index === 0 || budget.bill_id !== budgetStore.budgets[index - 1].bill_id">
                        <td v-if="budget.bill_id === null" colspan="8" class="text-center"><strong>Lain-lain</strong></td>
                        <td v-else colspan="8" class="text-center"><strong>{{budget.bill.code}} - {{budget.bill.name}}</strong></td>
                      </tr>
                      <tr :class="{ danger: budget.notes.length > 0 && !!budget.is_rejected === true, warning: budget.notes.length > 0 }">
                        <td>{{budget.name}}</td>
                        <td>{{budget.volume}}</td>
                        <td>{{budget.unit}}</td>
                        <td>{{getRibuan(budget.price)}}</td>
                        <td>{{getRibuan(budget.total)}}</td>
                        <td>{{budget.location}}</td>
                        <td>{{budget.departement.name}}</td>
                        <td>
                          <div class="btn-group">
                            <button @click="onEdit(budget)" class="btn btn-sm btn-flat btn-default" title="Sunting detail rekening"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button @click="onDelete(budget.id)" class="btn btn-sm btn-flat btn-default" title="Hapus detail rekening"><i class="glyphicon glyphicon-remove"></i></button>
                          </div>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
        <div v-if="this.isEdit" class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Sunting Kegiatan</h3>
              </div>
              <form v-on:submit.prevent="onUpdate" class="form-horizontal">
                <div class="box-body">
                  <div v-if="!isChangeBill" class="form-group">
                    <label for="rekening" class="col-sm-2 control-label">Rekening</label>
                    <div class="col-sm-10">
                      {{ (this.selectedBill === null) ? `Lain-lain` : `${this.selectedBill.code} - ${this.selectedBill.name}`}}
                      <p><a @click.prevent="onChangeBill" href=""><small>Ganti rekening?</small></a></p>
                    </div>
                  </div>
                  <div v-else class="form-group">
                    <label for="volume" class="col-sm-2 control-label">Rekening</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedBill"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama rekening"
                        :options="bills"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Kategori tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span class="help-block"><small><i>Rancangan anggaran akan dimasukkan ke dalam rekening lain-lain jika tidak diisi</i></small></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama kegiatan">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.volume}">
                    <label for="volume" class="col-sm-2 control-label">Volume</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.volume" type="number" class="form-control" id="volume" placeholder="20">
                      <span v-if="error.volume" v-html="getVolumeErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="satuan" class="col-sm-2 control-label">Satuan</label>
                    <div class="col-sm-10">
                      <input v-model="input.satuan" type="text" class="form-control" id="satuan" placeholder="buah">
                      <span class="help-block"><small><i>akan berisi 'buah' jika tidak diisi</i></small></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.harga}">
                    <label for="harga" class="col-sm-2 control-label">Harga Satuan</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.harga" type="number" class="form-control" id="harga" placeholder="100.000">
                      <span v-if="error.harga" v-html="getPriceErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="anggaran" class="col-sm-2 control-label">Anggaran</label>
                    <div class="col-sm-10">
                      <input v-model="input.total" type="text" class="form-control" id="anggaran" placeholder="2.000.000" disabled="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lokasi" class="col-sm-2 control-label">Lokasi</label>
                    <div class="col-sm-10">
                      <input v-model="input.lokasi" type="text" class="form-control" id="lokasi" placeholder="Ruang Server">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button @click.prevent="onCancel" class="btn btn-sm btn-flat pull-left" title="Sunting rincian rekening" :disabled="isSubmiting || isRejecting"><i class="glyphicon glyphicon-arrow-left"></i> Batal</button>
                  <button type="submit" class="btn btn-info btn-sm btn-flat pull-right" title="Sunting rincian rekening" :disabled="isSubmiting || isRejecting">
                    <pulse-loader v-if="isSubmiting" color="#fff"></pulse-loader>
                    <span v-else>
                      <i class="glyphicon glyphicon-pencil"></i> Sunting
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div v-if="!isItsDepartment" class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Tambah Catatan</h3>
              </div>
              <div class="box-body">
                <form v-on:submit.prevent="onAddNote">
                  <div class="form-group">
                    <textarea v-model="catatan" class="form-control" rows="3" placeholder="Tambah catatan..."></textarea>
                  </div>
                  <button type="submit" class="btn btn-flat btn-success pull-right" :disabled="isRejecting || isSubmiting">
                    <pulse-loader v-if="isRejecting" color="#fff"></pulse-loader>
                    <span v-else>
                      Simpan
                    </span>
                  </button>
                </form>
              </div>
            </div>
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Daftar Catatan</h3>
              </div>
              <div class="box-body">
                <p class="text-center"><small><i>Tidak ada catatan</i></small></p>
                <dl v-if="notes.length > 0">
                  <template v-for="(note, index) in notes">
                    <dt>{{note.user.name}} - {{note.user.departement.name}}</dt>
                    <dd>{{note.note}}</dd>
                  </template>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import moment from 'moment'
  import { getAuthorizationToken, rupiah, ribuan, galat, berhasil } from '../../functions'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import SimplePagination from '../Common/SimplePagination.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  const initialInput = {
    id: null,
    nama: null,
    volume: 0,
    satuan: null,
    harga: 0,
    total: 0,
    lokasi: null
  }
  const initialError = {
    nama: null,
    volume: null,
    harga: null
  }
  export default {
    components: {
      Navbar,
      Sidebar,
      SimplePagination,
      ClipLoader,
      PulseLoader,
      Multiselect
    },
    data() {
      return {
        period: {},
        selectedDepartment: null,
        keyword: null,
        isLoading: false,
        selectedBill: null,
        bills: [],
        notes: [],
        catatan: null,
        input: {
          id: null,
          nama: null,
          volume: 0,
          satuan: null,
          harga: 0,
          total: 0,
          lokasi: null,
          rekening: null
        },
        error: {
          nama: null,
          volume: null,
          harga: null
        },
        isRejecting: false,
        isEdit: false,
        isChangeBill: false,
        isSubmiting: false
      }
    },
    computed: {
      ...mapState({
        budgetStore: state => state.budgetStore
      }),
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getVolumeErrorMessages() {
        if (this.error.volume) {
          return this.error.volume.join('<br />')
        }
      },
      getPriceErrorMessages() {
        if (this.error.harga) {
          return this.error.harga.join('<br />')
        }
      },
      isDirectur() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        let isDirectur = false
        if (user.departement.id === 1) {
          isDirectur = true
        }
        return isDirectur
      },
      isItsDepartment() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        let isItsDepartment = false
        if (user.departement.id === this.selectedDepartment) {
          isItsDepartment = true
        }
        return isItsDepartment
      },
      options: function() {
        return this.budgetStore.departments.map(departement => {
          return {
            value: departement.id,
            text: departement.name
          }
        })
      },
    },
    methods: {
      getDepartment() {
        this.$store.dispatch('toggleBudgetLoading')
        this.$http.get(`api/departement/descendant`, getAuthorizationToken()).then(function(res) {
          const data = res.data.map(function(value, index) {
            if (index === 0) {
              return {
                ...value,
                name: value.name.toUpperCase()
              }
            }
            return value
          })
          this.$store.dispatch('getDepartments', data)
          this.$store.dispatch('toggleBudgetLoading')
        }).catch(function(err) {
          this.$store.dispatch('toggleBudgetLoading')
          console.error(err)
        })
      },
      getDescendantBudgets(id) {
        this.$store.dispatch('toggleBudgetLoading')
        this.$http.get(`api/budget/descendant/${id}`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('getBudgets', res.data)
          this.$store.dispatch('toggleBudgetLoading')
        }).catch(function(err) {
          this.$store.dispatch('toggleBudgetLoading')
          console.error(err)
        })
      },
      onFetch(query) {
        this.$http.get(`api/period/active`, getAuthorizationToken())
        .then(res => {
          this.period = res.data
        })
        .catch(err => {
          console.err(err)
          galat('Tidak dapat mengambil data periode yang aktif!')
        })
      },
      onSearch() {
        this.onFetch(`?keyword=${this.keyword}`);
      },
      getRupiah: function(num) {
        return rupiah(num)
      },
      getRibuan: function(num) {
        return new Intl.NumberFormat(['ban', 'id']).format(num)
      },
      onDelete(budgetId) {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang dihapus tidak dapat dikembalikan lagi!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/budget/${budgetId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      },
      onAddNote() {
        const data = {
          catatan: this.catatan
        }
        this.isRejecting = true
        this.$http.post(`api/note/${this.input.id}`, data, getAuthorizationToken())
          .then(function(res) {
            this.isRejecting = false
            this.catatan = null
            this.onCancel()
            this.getDescendantBudgets(this.selectedDepartment)
            berhasil('Catatan anggaran berhasil ditambahkan!')
          })
          .catch(function(err) {
            this.isRejecting = false
            galat(err.data.message)
            console.error(err)
          })
      },
      onEdit(budget) {
        if (budget.id === this.input.id) {
          return
        }
        this.isEdit = true
        this.input.id = budget.id
        this.input.nama = budget.name
        this.input.volume = budget.volume
        this.input.satuan = budget.unit
        this.input.harga = budget.price
        this.input.total = budget.total
        this.input.lokasi = budget.location
        this.selectedBill = budget.bill
        this.notes = budget.notes
      },
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearchBill(query)
        }
      },
      onSearchBill: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/bill?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.bills = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      onChangeBill() {
        this.isChangeBill = true
      },
      onCancel() {
        this.input = {
          ...initialInput
        }
        this.error = {
          ...initialError
        }
        this.selectedBill = null
        this.isChangeBill = false
        this.isEdit = false
      },
      onUpdate() {
        this.error = {
          ...initialError
        }
        if (this.input.nama === null || this.input.nama === '') {
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.volume <= 0) {
          this.error.volume = ['Jumlah harus diisi']
        }
        if (this.input.harga <= 0) {
          this.error.harga = ['Harga harus diisi']
        }
        if (this.error.nama !== null || this.error.volume !== null || this.error.harga !== null) {
          return
        }
        const data = {
          nama: this.input.nama,
          volume: this.input.volume,
          satuan: (this.input.satuan === null || this.input.satuan === '') ? 'buah' : this.input.satuan,
          harga: this.input.harga,
          anggaran: this.input.volume * this.input.harga,
          lokasi: (this.input.lokasi === null) ? '' : this.input.lokasi,
          id_rekening: (this.selectedBill === null) ? null : this.selectedBill.id
        }
        this.isSubmiting = true
        this.$http.put(`api/budget/${this.input.id}`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.onCancel()
          this.getDescendantBudgets(this.selectedDepartment)
        })
        .catch(function(err) {
          this.isSubmiting = false
          galat(err.data.message)
          console.error(err)
        })
      },
      onSubmit() {
        // this.isSubmiting = true
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Anda tidak dapat melakukan perubahan lagi!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.get(`api/departement/freeze`, getAuthorizationToken())
          .then(function(res) {
            // _this.isSubmiting = false
            berhasil('Anggaran berhasil diajukan')
            _this.onCancel()
          }).catch(function(err) {
            console.error(err)
            // _this.isSubmiting = false
            galat(err.data.message)
          })
        })
      }
    },
    watch: {
      selectedDepartment: function(id) {
        this.getDescendantBudgets(id)
      },
      'input.volume': function(newVolume) {
        if (newVolume !== null && newVolume !== '') {
          if (this.input.harga > 0) {
            this.input.total = rupiah(newVolume * this.input.harga)
          } else {
            this.input.total = rupiah(newVolume)
          }
        }
      },
      'input.harga': function(newHarga) {
        if (newHarga !== null && newHarga !== '') {
          if (this.input.volume > 0) {
            this.input.total = rupiah(newHarga * this.input.volume)
          } else {
            this.input.total = rupiah(newHarga)
          }
        }
      }
    },
    created() {
      this.$store.dispatch('resetBudgets')
      this.onFetch()
      this.getDepartment()
    }
  }
</script>
