<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Detail Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <button @click="onPrint" class="btn btn-info btn-sm btn-flat pull-right" title="Cetak rekap anggaran"><i class="glyphicon glyphicon-print"></i> Cetak</button>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>Kode Rekening</th>
                      <th>Nama Rekening</th>
                      <th>Nama</th>
                      <th>Volume</th>
                      <th>Satuan</th>
                      <th>Harga</th>
                      <th>Jumlah Anggaran</th>
                      <th>Lokasi</th>
                      <th>Unit</th>
                    </tr>
                    <tr v-for="(budget, index) in budgets">
                      <td>
                        <strong>
                          {{
                            (index === 0) ? budget.code :
                            (budgets[index -1].code === budgets[index].code) ? '' : budget.code
                          }}
                        </strong>
                      </td>
                      <td>
                        <strong>
                          {{
                            (index === 0) ? budget.bill :
                            (budgets[index -1].code === budgets[index].code) ? '' : budget.bill
                          }}
                        </strong>
                      </td>
                      <td>{{budget.name}}</td>
                      <td>{{budget.volume}}</td>
                      <td>{{budget.unit}}</td>
                      <td>{{budget.price}}</td>
                      <td>{{budget.total}}</td>
                      <td>{{budget.location}}</td>
                      <td>{{budget.departement}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
              <div class="box-footer clearfix">
                <!-- 
                <ul class="pagination pagination-sm no-margin pull-left">
                  <li><a href="#">Sebelumnya</a></li>
                  <li><a href="#">Selanjutnya</a></li>
                </ul>
                 -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  export default {
    components: {
      Navbar,
      Sidebar
    },
    data() {
      return {
        budgets: [
          {
            name: 'Lemari',
            volume: 10,
            unit: 'Buah',
            price: 200000,
            total: 2000000,
            location: 'Ruang Server',
            departement: 'SIM',
            code: '5.3.2',
            bill: 'Belanja alat kantor dan rumah tangga'
          },
          {
            name: 'Lemari',
            volume: 10,
            unit: 'Buah',
            price: 200000,
            total: 2000000,
            location: 'Ruang Server',
            departement: 'SIM',
            code: '5.3.2',
            bill: 'Belanja alat kantor dan rumah tangga'
          },
          {
            name: 'Lemari',
            volume: 10,
            unit: 'Buah',
            price: 200000,
            total: 2000000,
            location: 'Ruang Server',
            departement: 'SIM',
            code: '5.3.2',
            bill: 'Belanja alat kantor dan rumah tangga'
          },
          {
            name: 'Lemari',
            volume: 10,
            unit: 'Buah',
            price: 200000,
            total: 2000000,
            location: 'Ruang Server',
            departement: 'SIM',
            code: '5.4.1',
            bill: 'Belanja cetakan'
          },
          {
            name: 'Lemari',
            volume: 10,
            unit: 'Buah',
            price: 200000,
            total: 2000000,
            location: 'Ruang Server',
            departement: 'SIM',
            code: '5.4.1',
            bill: 'Belanja cetakan'
          }
        ]
      }
    },
    methods: {
      onPrint() {
        
      },
    }
  }
</script>
