<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rekap Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <button @click="onPrint" class="btn btn-info btn-sm btn-flat pull-right" title="Cetak rekap anggaran"><i class="glyphicon glyphicon-print"></i> Cetak</button>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="text-center">Kode Rekening</th>
                      <th class="text-center">Nama Rekening</th>
                      <th class="text-center">
                        Anggaran
                        <br>
                        <small>(Jumlah dari detail anggaran masing masing rekening)</small>
                      </th>
                    </tr>
                    <tr v-for="(budget, index) in budgets">
                      <td>{{budget.code}}</td>
                      <td>{{budget.name}}</td>
                      <td>{{budget.budget}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
              <div class="box-footer clearfix">
                <!-- 
                <ul class="pagination pagination-sm no-margin pull-left">
                  <li><a href="#">Sebelumnya</a></li>
                  <li><a href="#">Selanjutnya</a></li>
                </ul>
                 -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  export default {
    components: {
      Navbar,
      Sidebar
    },
    data() {
      return {
        budgets: [
          {
            code: '5.3.03.02',
            name: 'Belanja Modal Alat Kantor dan Rumah Tangga',
            budget: '6.500.000'
          },
          {
            code: '5.3.03.23',
            name: 'Belanja Cetakan',
            budget: '1.500.000'
          },
          {
            code: '5.3.03.35',
            name: 'Belanja Modal Alat Kantor dan Rumah Tangga',
            budget: '5.500.000'
          },
          {
            code: '5.3.03.39',
            name: 'Belanja Modal Alat Kantor dan Rumah Tangga',
            budget: '9.500.000'
          },
        ]
      }
    },
    methods: {
      onPrint() {
        
      }
    }
  }
</script>
