<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Persetujuan Anggaran
        </h1>
      </section>
      <section class="content">
        <div v-if="!this.isEdit" class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Daftar Persetujuan Anggaran{{departmentName}}</h3>
                <div v-if="budgetStore.departments.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih departemen</span>
                    <select v-model="selectedDepartment" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <clip-loader v-if="budgetStore.isDescendantLoading"></clip-loader>
                <p v-else-if="selectedDepartment === null" class="text-center"><i>Silakan pilih departemen terlebih dahulu</i></p>
                <table v-else class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 5%">#</th>
                      <th>Nama</th>
                      <th>Volume</th>
                      <th>Satuan</th>
                      <th>Harga</th>
                      <th>Jumlah Anggaran</th>
                      <th>Lokasi</th>
                      <th>Unit</th>
                      <th style="width: 15%">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="budgetStore.descendantBudgets.length === 0">
                      <td colspan="9" class="text-center"><i>Tidak terdapat data</i></td>
                    </tr>
                    <template v-for="(budget, index) in budgetStore.descendantBudgets">
                      <tr v-if="index === 0 || budget.bill_id !== budgetStore.descendantBudgets[index - 1].bill_id">
                        <td v-if="budget.bill_id === null" colspan="9" class="text-center"><strong>Lain-lain</strong></td>
                        <td v-else colspan="9" class="text-center"><strong>{{budget.bill.code}} - {{budget.bill.name}}</strong></td>
                      </tr>
                      <tr>
                        <td>{{index + 1}}</td>
                        <td>{{budget.name}}</td>
                        <td>{{budget.volume}}</td>
                        <td>{{budget.unit}}</td>
                        <td>{{getRupiah(budget.price)}}</td>
                        <td>{{getRupiah(budget.total)}}</td>
                        <td>{{budget.location}}</td>
                        <td>{{budget.departement.name}}</td>
                        <td>
                          <template v-if="budget.status === 'requested'">
                            <button v-if="budget.isLoading" class="btn btn-sm btn-success btn-flat btn-block" disabled="true">
                              <pulse-loader v-if="budget.isLoading" color="#fff" size="10px"></pulse-loader>
                            </button>
                            <div v-else class="btn-group">
                              <button @click="onEdit(budget)" class="btn btn-sm btn-flat" title="Sunting"><i class="glyphicon glyphicon-pencil"></i></button>
                              <button @click="onApprove(budget.id)" class="btn btn-sm btn-success btn-flat" title="Setujui"><i class="glyphicon glyphicon-ok"></i></button>
                              <button @click="onReject(budget.id)" class="btn btn-sm btn-danger btn-flat" title="Tolak"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                          </template>
                          <div v-else class="btn-group">
                            <button v-if="budget.status === 'approved'" class="btn btn-sm btn-success btn-flat" title="Rancangan anggaran telah disetujui">Disetujui</button>
                            <button v-if="budget.status === 'rejected'" class="btn btn-sm btn-danger btn-flat" title="Rancangan anggaran tidak digunakan">Ditolak</button>
                            <button @click="onReset(budget.id)" class="btn btn-sm btn-flat" title="Klik untuk reset status rancangan anggaran"><i class="glyphicon glyphicon-refresh"></i></button>
                          </div>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
                <!-- <div v-if="budgetStore.descendantBudgets.length != 0 && budgetStore.isDescendantLoading === false" class="btn-group pull-right">
                  <button @click="onSubmit" class="btn btn-success btn-sm btn-flat" title="Ajukan rekening"><i class="glyphicon glyphicon-floppy-save"></i> Simpan</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div v-if="this.isEdit" class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Sunting Kegiatan</h3>
              </div>
              <form v-on:submit.prevent="onUpdate" class="form-horizontal">
                <div class="box-body">
                  <div v-if="!isChangeBill" class="form-group">
                    <label for="rekening" class="col-sm-2 control-label">Rekening</label>
                    <div class="col-sm-10">
                      {{ (this.selectedBill === null) ? `Lain-lain` : `${this.selectedBill.code} - ${this.selectedBill.name}`}}
                      <p><a @click.prevent="onChangeBill" href=""><small>Ganti rekening?</small></a></p>
                    </div>
                  </div>
                  <div v-else class="form-group">
                    <label for="volume" class="col-sm-2 control-label">Rekening</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedBill"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama rekening"
                        :options="bills"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Kategori tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span class="help-block"><small><i>Rancangan anggaran akan dimasukkan ke dalam rekening lain-lain jika tidak diisi</i></small></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama kegiatan">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.volume}">
                    <label for="volume" class="col-sm-2 control-label">Volume</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.volume" type="number" class="form-control" id="volume" placeholder="20">
                      <span v-if="error.volume" v-html="getVolumeErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="satuan" class="col-sm-2 control-label">Satuan</label>
                    <div class="col-sm-10">
                      <input v-model="input.satuan" type="text" class="form-control" id="satuan" placeholder="buah">
                      <span class="help-block"><small><i>akan berisi 'buah' jika tidak diisi</i></small></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.harga}">
                    <label for="harga" class="col-sm-2 control-label">Harga Satuan</label>
                    <div class="col-sm-10">
                      <input v-model.number="input.harga" type="number" class="form-control" id="harga" placeholder="100.000">
                      <span v-if="error.harga" v-html="getPriceErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="anggaran" class="col-sm-2 control-label">Anggaran</label>
                    <div class="col-sm-10">
                      <input v-model="input.total" type="text" class="form-control" id="anggaran" placeholder="2.000.000" disabled="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lokasi" class="col-sm-2 control-label">Lokasi</label>
                    <div class="col-sm-10">
                      <input v-model="input.lokasi" type="text" class="form-control" id="lokasi" placeholder="Ruang Server">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button @click.prevent="onCancel" class="btn btn-sm btn-flat pull-left" title="Sunting rincian rekening" :disabled="isSubmiting"><i class="glyphicon glyphicon-arrow-left"></i> Batal</button>
                  <button type="submit" class="btn btn-info btn-sm btn-flat pull-right" title="Sunting rincian rekening" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff"></pulse-loader>
                    <span v-else>
                      <i class="glyphicon glyphicon-pencil"></i> Sunting
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import Multiselect from 'vue-multiselect'
  import { getAuthorizationToken, rupiah } from '../../functions'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  const initialInput = {
    id: null,
    nama: null,
    volume: 0,
    satuan: null,
    harga: 0,
    total: 0,
    lokasi: null
  }
  const initialError = {
    nama: null,
    volume: null,
    harga: null
  }
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader,
      PulseLoader,
      Multiselect
    },
    computed: {
      ...mapState({
        budgetStore: state => state.budgetStore
      }),
      options: function() {
        return this.budgetStore.departments.map(departement => {
          return {
            value: departement.id,
            text: departement.name
          }
        })
      },
      departmentName: function() {
        const selectedDepartmentId = this.selectedDepartment
        if (selectedDepartmentId === null) {
          return ''
        }
        const index = this.budgetStore.departments.findIndex(function(department) {
          return department.id === selectedDepartmentId
        })
        if (index === -1) {
          return ''
        } else {
          return ' - ' + this.budgetStore.departments[index].name
        }
      },
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getVolumeErrorMessages() {
        if (this.error.volume) {
          return this.error.volume.join('<br />')
        }
      },
      getPriceErrorMessages() {
        if (this.error.harga) {
          return this.error.harga.join('<br />')
        }
      }
    },
    data() {
      return {
        selectedDepartment: null,
        // Edit
        isEdit: false,
        isLoading: false,
        selectedBill: null,
        bills: [],
        input: {
          id: null,
          nama: null,
          volume: 0,
          satuan: null,
          harga: 0,
          total: 0,
          lokasi: null,
          rekening: null
        },
        error: {
          nama: null,
          volume: null,
          harga: null
        },
        isChangeBill: false,
        isSubmiting: false
        // End Edit
      }
    },
    watch: {
      selectedDepartment: function(id) {
        this.getDescendantBudgets(id)
      },
      'input.volume': function(newVolume) {
        if (newVolume !== null && newVolume !== '') {
          if (this.input.harga > 0) {
            this.input.total = rupiah(newVolume * this.input.harga)
          } else {
            this.input.total = rupiah(newVolume)
          }
        }
      },
      'input.harga': function(newHarga) {
        if (newHarga !== null && newHarga !== '') {
          if (this.input.volume > 0) {
            this.input.total = rupiah(newHarga * this.input.volume)
          } else {
            this.input.total = rupiah(newHarga)
          }
        }
      }
    },
    methods: {
      getDepartment() {
        this.$store.dispatch('toggleDescendantBudgetLoading')
        this.$http.get(`api/departement/descendant`, getAuthorizationToken()).then(function(res) {
          this.$store.dispatch('getDepartments', res.data)
          this.$store.dispatch('toggleDescendantBudgetLoading')
        }).catch(function(err) {
          this.$store.dispatch('toggleDescendantBudgetLoading')
          console.error(err)
        })
      },
      getDescendantBudgets(id) {
        this.$store.dispatch('toggleDescendantBudgetLoading')
        this.$http.get(`api/budget/descendant/${id}`, getAuthorizationToken())
        .then(function(res) {
          const data = res.data.map(budget => {
            return {
              ...budget,
              isLoading: false
            }
          })
          this.$store.dispatch('getDescendantBudgets', data)
          this.$store.dispatch('toggleDescendantBudgetLoading')
        }).catch(function(err) {
          this.$store.dispatch('toggleDescendantBudgetLoading')
          console.error(err)
        })
      },
      onReset(budgetId) {
        this.$store.dispatch('updateDescendantBudgetStatus', { budgetId, status: 'requested' })
      },
      onApprove(budgetId) {
        this.$store.dispatch('toggleDescendantBudgetStatusLoading', budgetId)
        this.$http.get(`api/budget/approve/${budgetId}`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleDescendantBudgetStatusLoading', budgetId)
          this.$store.dispatch('updateDescendantBudgetStatus', { budgetId, status: 'approved' })
        })
        .catch(function(err) {
          this.$store.dispatch('toggleDescendantBudgetStatusLoading', budgetId)
          console.error(err)
        })
      },
      onReject(budgetId) {
        this.$http.get(`api/budget/reject/${budgetId}`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('updateDescendantBudgetStatus', { budgetId, status: 'rejected' })
        })
        .catch(function(err) {
          console.error(err)
        })
      },
      onSubmit() {
        swal({
          title: "Apakah Anda yakin?",
          text: "Rancangan anggaran ini akan diproses, jika telah disetujui semua rancangan anggaran akan digabung dengan rancangan anggaran departemen Anda dan jika ada penolakan akan diperbaiki oleh departemen bersangkutan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Ya",
          closeOnConfirm: true
        },
        function(){
          
        })
      },
      getRupiah: function(num) {
        return rupiah(num)
      },
      // Edit
      onEdit(budget) {
        if (budget.id === this.input.id) {
          return
        }
        this.isEdit = true
        this.input.id = budget.id
        this.input.nama = budget.name
        this.input.volume = budget.volume
        this.input.satuan = budget.unit
        this.input.harga = budget.price
        this.input.total = budget.total
        this.input.lokasi = budget.location
        this.selectedBill = budget.bill
      },
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearchBill(query)
        }
      },
      onSearchBill: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/bill?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.bills = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      onChangeBill() {
        this.isChangeBill = true
      },
      onCancel() {
        this.input = {
          ...initialInput
        }
        this.error = {
          ...initialError
        }
        this.selectedBill = null
        this.isChangeBill = false
        this.isEdit = false
      },
      onUpdate() {
        this.error = {
          ...initialError
        }
        if (this.input.nama === null || this.input.nama === '') {
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.volume <= 0) {
          this.error.volume = ['Jumlah harus diisi']
        }
        if (this.input.harga <= 0) {
          this.error.harga = ['Harga harus diisi']
        }
        if (this.error.nama !== null || this.error.volume !== null || this.error.harga !== null) {
          return
        }
        const data = {
          nama: this.input.nama,
          volume: this.input.volume,
          satuan: (this.input.satuan === null || this.input.satuan === '') ? 'buah' : this.input.satuan,
          harga: this.input.harga,
          anggaran: this.input.volume * this.input.harga,
          lokasi: (this.input.lokasi === null) ? '' : this.input.lokasi,
          id_rekening: (this.selectedBill === null) ? null : this.selectedBill.id
        }
        this.isSubmiting = true
        this.$http.put(`api/budget/${this.input.id}`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.onCancel()
          this.getDescendantBudgets(this.selectedDepartment)
        })
        .catch(function(err) {
          this.isSubmiting = false
          console.error(err)
        })
      }
      // End Edit
    },
    created() {
      this.getDepartment()
    }
  }
</script>
