<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          PAGE_NAME
          <small>PAGE_DESC</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Detail Rekening</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                    <th style="width: 5%">#</th>
                    <th>Nama</th>
                    <th>Volume</th>
                    <th>Satuan</th>
                    <th>Harga</th>
                    <th>Jumlah Anggaran</th>
                    <th>Lokasi</th>
                    <th>Unit</th>
                    <th style="width: 15%">Aksi</th>
                    <th>Catatan (<span class="small">Jika ingin dirubah</span>)</th>
                  </tr>
                  <tr>
                    <td>1.</td>
                    <td>Lemari</td>
                    <td>20</td>
                    <td>buah</td>
                    <td>Rp. 50.000</td>
                    <td>Rp. 1.000.000</td>
                    <td>Ruang Server</td>
                    <td>SIM</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-sm" title="Lihat detail rekening"><i class="glyphicon glyphicon-eye-open"></i></button>
                        <button class="btn btn-sm btn-info" title="Sunting detail rekening"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-sm btn-danger" title="Hapus detail rekening"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                    </td>
                    <td>
                      <textarea class="form-control"></textarea>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
              <div class="box-footer clearfix">
                <div class="btn-group pull-right">
                  <button class="btn btn-warning btn-sm" title="Ajukan rekening"><i class="glyphicon glyphicon-refresh"></i> Kembalikan</button>
                  <button class="btn btn-success btn-sm" title="Ajukan rekening"><i class="glyphicon glyphicon-check"></i> Setujui</button>
                </div>
                <ul class="pagination pagination-sm no-margin pull-left">
                  <li><a href="#">«</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  export default {
    components: {
      Navbar,
      Sidebar
    },
  }
</script>
