<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rekap Detail Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div v-if="periods.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih periode</span>
                    <select v-model="selectedPeriod" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value" :disabled="reportStore.isReportDetailLoading">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <clip-loader v-if="reportStore.isReportDetailLoading"></clip-loader>
                <div v-else class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li :class="{ active: !isRevisionMode }">
                      <a href="#tab_1" @click="onToggle(false)" data-toggle="tab">Anggaran Penetapan</a>
                    </li>
                    <li v-if="selectedPeriod !== null" class="pull-right">
                      <button 
                        v-if="!reportStore.isDetailLoading || !reportStore.isRevisionDetailLoading || reportStore.reportDetail.length > 0 || reportStore.reportRevisionRecap.length > 0" 
                        @click="onAction(true)" 
                        class="btn btn-success btn-sm btn-flat pull-left" 
                        title="Unduh rekap anggaran" 
                        :disabled="isPrinting"
                      >
                        <i class="glyphicon glyphicon-download-alt"></i> Unduh
                      </button>
                      <button 
                        v-if="!reportStore.isDetailLoading || !reportStore.isRevisionDetailLoading || reportStore.reportDetail.length > 0 || reportStore.reportRevisionRecap.length > 0" 
                        @click="onAction(false)" 
                        class="btn btn-success btn-sm btn-flat pull-left" 
                        title="Cetak rekap anggaran" 
                        :disabled="isPrinting"
                      >
                        <i class="glyphicon glyphicon-print"></i> Cetak
                      </button>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div :class="{ 'tab-pane': true, active: !isRevisionMode }" id="tab_1">
                      <clip-loader v-if="reportStore.isDetailLoading"></clip-loader>
                      <p v-else-if="selectedPeriod === null" class="text-center">Silakan pilih periode terlebih dahulu!</p>
                      <table v-else class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Kode Rekening</th>
                            <th>Nama Rekening</th>
                            <th>Nama</th>
                            <th>Volume</th>
                            <th>Satuan</th>
                            <th>Harga (Rupiah)</th>
                            <th>Lokasi</th>
                            <th>Unit</th>
                            <th>Jumlah Anggaran (Rupiah)</th>
                          </tr>
                          <tr v-if="selectedPeriod === null">
                            <td colspan="9" class="text-center">Silakan pilih periode terlebih dahulu</td>
                          </tr>
                          <tr v-else-if="reportStore.reportDetail.length === 0">
                            <td colspan="9" class="text-center">Tidak ada data</td>
                          </tr>
                          <tr v-else v-for="(item, index) in reportStore.reportDetail">
                            <td>
                              <strong>
                                {{
                                  (index === 0) ? item.bill.code :
                                  (reportStore.reportDetail[index -1].bill.id === reportStore.reportDetail[index].bill.id) ? '' : item.bill.code
                                }}
                              </strong>
                            </td>
                            <td>
                              <strong>
                                {{
                                  (index === 0) ? item.bill.name :
                                  (reportStore.reportDetail[index -1].bill.id === reportStore.reportDetail[index].bill.id) ? '' : item.bill.name
                                }}
                              </strong>
                            </td>
                            <td>{{item.name}}</td>
                            <td class="text-right">{{getRibuan(item.volume)}}</td>
                            <td>{{item.unit}}</td>
                            <td class="text-right">{{getRibuan(item.price)}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.departement.name}}</td>
                            <td class="text-right">{{getRibuan(item.total)}}</td>
                          </tr>
                          <tr v-if="selectedPeriod != null && reportStore.reportDetail.length != 0">
                              <td colspan="8" class="text-center"><strong>Total</strong></td>
                              <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div :class="{ 'tab-pane': true, active: isRevisionMode }" id="tab_2">
                      <clip-loader v-if="reportStore.isRevisionDetailLoading"></clip-loader>
                      <p v-else-if="selectedPeriod === null" class="text-center">Silakan pilih periode terlebih dahulu!</p>
                      <table v-else class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Kode Rekening</th>
                            <th>Nama Rekening</th>
                            <th>Nama</th>
                            <th>Volume</th>
                            <th>Satuan</th>
                            <th>Harga (Rupiah)</th>
                            <th>Lokasi</th>
                            <th>Unit</th>
                            <th>Jumlah Anggaran (Rupiah)</th>
                          </tr>
                          <tr v-if="selectedPeriod === null">
                            <td colspan="9" class="text-center">Silakan pilih periode terlebih dahulu</td>
                          </tr>
                          <tr v-else-if="reportStore.reportRevisionDetail.length === 0">
                            <td colspan="9" class="text-center">Tidak ada data</td>
                          </tr>
                          <tr v-else v-for="(item, index) in reportStore.reportRevisionDetail">
                            <td>
                              <strong>
                                {{
                                  (index === 0) ? item.bill.code :
                                  (reportStore.reportRevisionDetail[index -1].bill.id === reportStore.reportRevisionDetail[index].bill.id) ? '' : item.bill.code
                                }}
                              </strong>
                            </td>
                            <td>
                              <strong>
                                {{
                                  (index === 0) ? item.bill.name :
                                  (reportStore.reportRevisionDetail[index -1].bill.id === reportStore.reportRevisionDetail[index].bill.id) ? '' : item.bill.name
                                }}
                              </strong>
                            </td>
                            <td>{{item.name}}</td>
                            <td class="text-right">{{getRibuan(item.volume)}}</td>
                            <td>{{item.unit}}</td>
                            <td class="text-right">{{getRibuan(item.price)}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.departement.name}}</td>
                            <td class="text-right">{{getRibuan(item.total)}}</td>
                          </tr>
                          <tr v-if="selectedPeriod != null && reportStore.reportRevisionDetail.length != 0">
                              <td colspan="8" class="text-center"><strong>Total</strong></td>
                              <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import moment from 'moment'
  import Papa from 'papaparse'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import { getAuthorizationToken, rupiah, ribuan, galat, getDataUri } from '../../functions'
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader
    },
    computed: {
      ...mapState({
        reportStore: state => state.reportStore
      }),
      options: function() {
        return this.periods.map(period => {
          return {
            value: period.id,
            text: period.name +' - '+ period.year
          }
        })
      }
    },
    data() {
      return {
        periods: [],
        selectedPeriod: null,
        hasRevision: 0,
        isRevisionMode: false
      }
    },
    methods: {
      onToggle(isRevision) {
        this.isRevisionMode = isRevision
      },
      getPeriods() {
        this.$store.dispatch('toggleReportDetailLoading')
        this.$http.get(`api/period`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportDetailLoading')
          this.periods = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportDetailLoading')
          galat(err.data.message)
        })
      },
      getTotal() {
        if (this.isRevisionMode) {
          return _.sumBy(this.reportStore.reportRevisionDetail, function(value) {
            return parseInt(value.total)
          })
        } else {
          return _.sumBy(this.reportStore.reportDetail, function(value) {
            return parseInt(value.total)
          })
        }
      },
      getGeneralTotal() {
        return _.sumBy(this.reportStore.reportDetail, function(value) {
          return parseInt(value.total)
        })
      },
      getRevisionTotal() {
          return _.sumBy(this.reportStore.reportRevisionDetail, function(value) {
            return parseInt(value.total)
          })
      },
      formatData(data) {
        return data.map(function(item) {
          const bill = (item.bill_id === null) ? {code: '', name: 'Lain-lain'} : item.bill
          return {
            ...item,
            bill
          }
        })
      },
      onFetch(id) {
        let url = `api/budget/detail/${id}`
        this.$store.dispatch('toggleDetailLoading')
        this.$http.get(url, getAuthorizationToken())
        .then(function(res) {
          const data = this.formatData(res.data)
          this.$store.dispatch('getReportDetail', data)
          this.$store.dispatch('toggleDetailLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleDetailLoading')
        })
      },
      onFetchRevision(id) {
        let url = `api/budget/detail/${id}/1`
        this.$store.dispatch('toggleRevisionDetailLoading')
        this.$http.get(url, getAuthorizationToken())
        .then(function(res) {
          const data = this.formatData(res.data)
          this.$store.dispatch('getReportRevisionDetail', data)
          this.$store.dispatch('toggleRevisionDetailLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleRevisionDetailLoading')
        })
      },
      getRupiah(num) {
        return rupiah(num)
      },
      getRibuan: function(num) {
        return new Intl.NumberFormat(['ban', 'id']).format(num)
      },
      onExport() {
        let total = 0
        let data = []
        const reportDetail = this.reportStore.reportDetail
        this.reportStore.reportDetail.forEach(function(value, index) {
          total += parseInt(value.total)
          data = [
            ...data,
            [
              (value.bill_id === null) ? '' : value.bill.code,
              (value.bill_id === null) ? 'Lain-lain' : value.bill.name,
              value.name,
              new Intl.NumberFormat(['ban', 'id']).format(value.volume),
              value.unit,
              value.price,
              value.location,
              value.departement.name,
              value.total,
            ]
          ]
          if (index === reportDetail.length - 1) {
            data = [
              ...data,
              [
                '',
                '',
                'Total',
                '',
                '',
                '',
                '',
                '',
                total,
              ]
            ]
          }
        })
        const csv = Papa.unparse({
          fields: ['Kode Rekening', 'Nama Rekening', 'Nama', 'Volume', 'Satuan', 'Harga', 'Lokasi', 'Unit', 'Anggaran'],
          data
        })
        const str = Papa.unparse(data, {
          quotes: true,
          quoteChar: '"',
          delimiter: ',',
          header: false,
          newline: '\r\n'
        })
        const user = JSON.parse(localStorage.getItem('user'))
        const csvData = new Blob([csv], {type: 'text/csv;charset=utf-8;'});
        const csvURL = window.URL.createObjectURL(csvData);
        const tempLink = document.createElement('a');
        tempLink.href = csvURL;
        tempLink.setAttribute('download', user.departement.name + ' (Detail).csv');
        tempLink.click();
      },
      getChildrenTotal(code, isRevision) {
        let filteredData
        if (isRevision) {
          filteredData = this.reportStore.reportRevisionDetail.filter(function(value) {
            return (value.bill.code.startsWith(code))
          })
        } else {
          filteredData = this.reportStore.reportDetail.filter(function(value) {
            return (value.bill.code.startsWith(code))
          })
        }
        const total = _.sumBy(filteredData, function(value) {
          return parseInt(value.total)
        })
        return total
      },
      generateLevel(lvl) {
        let prefix = '-'
        for (var i = 0; i < lvl; i++) {
          prefix = `${prefix} -`
        }
        return prefix
      },
      tree(arr, data, lvl) {
        const _this = this
        // DISBLED PREFIX
        // const prefix = _this.generateLevel(lvl)
        const prefix = ''
        data.forEach(function(value) {
          const filteredData = _this.reportStore.reportDetail.filter(function(detail) {
            if (value.code) {
              return value.code === detail.bill.code
            } else {
              return detail.bill_id === null
            }
          })
          if (filteredData.length > 0) {
            filteredData.forEach(function(item, index) {
              arr.push([
                {text: (index === 0) ? (lvl > 0) ? `${prefix} ${value.code}` : value.code : '', style: 'code'},
                (index === 0) ? value.name : '',
                item.name,
                {text: new Intl.NumberFormat(['ban', 'id']).format(item.volume), alignment: 'right'},
                {text: item.unit},
                {text: ribuan(item.price), style: 'rupiah'},
                item.location,
                item.departement.name,
                {text: ribuan(item.total), style: 'rupiah'},
              ])
            })
          } else {
            if (value.children.length === 0) {
              return
            } else {
              const tempTotal = _this.getChildrenTotal(value.code, false)
              if (tempTotal === 0) {
                return
              }
              arr.push([
                {text: (lvl > 0) ? `${prefix} ${value.code}` : value.code, style: 'code'},
                value.name,
                '',
                '',
                '',
                '',
                '',
                '',
                { text: ribuan(tempTotal), style: 'rupiah' },
              ])
            }
          }
          if (value.children.length > 0) {
            _this.tree(arr, value.children, lvl + 1)
          }
        })
      },
      onGeneralAction(logoDataUri, ancestors, coordinator, isDownload, bills) {
        const user = JSON.parse(localStorage.getItem('user'))
        let total = 0
        let data = []
        const name = coordinator.name
        const position = coordinator.position
        const nip = coordinator.nip
        const reportDetail = this.reportStore.reportDetail
        const _this = this
        let response = []
        const allBills = [
          ...bills,
          {
            id: 0,
            code: null,
            name: 'Lain-lain',
            children: []
          }
        ]
        _this.tree(response, allBills, 0)
        data = response
        const selectedPeriod = this.selectedPeriod
        let period = this.periods.filter(function(value) {
          return value.id === selectedPeriod
        })
        const formatedData = [
          [
            {text: 'Kode', style: 'tableHeader'},
            {text: 'Rekening', style: 'tableHeader'},
            {text: 'Nama', style: 'tableHeader'},
            {text: 'Volume', style: 'tableHeader'},
            {text: 'Satuan', style: 'tableHeader'},
            {text: 'Harga (Rp)', style: 'tableHeader'},
            {text: 'Lokasi', style: 'tableHeader'},
            {text: 'Unit', style: 'tableHeader'},
            {text: 'Anggaran (Rp)', style: 'tableHeader'}
          ],
          ...data,
          [ {text: 'Total', colSpan: 8, alignment: 'center'}, {}, {}, {}, {}, {}, {}, {}, {text: ribuan(_this.getTotal()), alignment: 'right'} ]
        ]

        const docDefinition = {
          pageSize: 'A4',
          pageMargins: 15,
          styles: {
            header: {
              alignment: 'center',
              fontSize: 12
            },
            tableHeader: {
              bold: true,
              fontSize: 10,
              color: 'black',
              alignment: 'center'
            },
            table: {
              margin: [0, 5, 0, 15],
              fontSize: 8
            },
            tableTop: {
              margin: [80, 5, 80, 15],
              fontSize: 10
            },
            tableSign: {
              fontSize: 9
            },
            rupiah: {
              alignment: 'right'
            },
            code: {
              fontSize: 8
            }
          },
          content: [
            {
              layout: 'noBorders',
              style: 'tableTop',
              table: {
                widths: [ 75, '*' ],
                body: [
                  [{ image: logoDataUri, width: 55, height: 55, rowSpan: 3, alignment: 'center' }, { text: 'RANCANGAN ANGGARAN', alignment: 'center' }],
                  [{}, { text: 'RUMAH SAKIT UMUM DAERAH KABUPATEN TEMANGGUNG', alignment: 'center' }],
                  [{}, { text: 'TAHUN ANGGARAN ' + period[0].year, alignment: 'center' }]
                ]
              }
            },
            { text: (ancestors.length <= 2) ? '' : ancestors[1].name, alignment: 'left', style: { fontSize: 9 }, margin: [0, 15, 0, 0] },
            { text: 'Sub. Bidang : ' + user.departement.name, alignment: 'left', style: { fontSize: 9 } },
            {
              style: 'table',
              table: {
                headerRows: 1,
                widths: [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
                body: formatedData
              }
            },
            {
              layout: 'noBorders',
              style: 'tableSign',
              table: {
                widths: [ '*', '*', '*' ],
                body: [
                  ['', '', { text: 'Temanggung, ' + moment().format('LL'), alignment: 'center' }],
                  ['', '', { text: position + ' ' + user.departement.name, alignment: 'center', margin: [0, 0, 0, 50] }],
                  ['', '', { text: name, alignment: 'center' }],
                  ['', '', { text: 'NIP' + nip, alignment: 'center' }]
                ]
              }
            }
          ]
        };
        if (isDownload) {
          pdfMake.createPdf(docDefinition).download(user.departement.name + ' (Detail).pdf');
        } else {
          pdfMake.createPdf(docDefinition).print();
        }
      },
      treeRev(arr, data, lvl) {
        const _this = this
        // DISABLED PREFIX
        // const prefix = _this.generateLevel(lvl)
        const prefix = ''
        data.forEach(function(value) {
          const filteredData = _this.reportStore.reportRevisionDetail.filter(function(detail) {
            if (value.code) {
              return value.code === detail.bill.code
            } else {
              return detail.bill_id === null
            }
          })
          if (filteredData.length > 0) {
            filteredData.forEach(function(item, index) {
              if (item.base) {
                arr.push([
                  {text: (index === 0) ? (lvl > 0) ? `${prefix} ${value.code}` : value.code : '', style: 'code'},
                  (index === 0) ? value.name : '',
                  item.base.name,
                  {text: new Intl.NumberFormat(['ban', 'id']).format(item.base.volume), alignment: 'right'},
                  {text: item.base.unit},
                  {text: ribuan(item.base.price), style: 'rupiah'},
                  item.base.location,
                  item.departement.name,
                  {text: ribuan(item.base.total), style: 'rupiah'},
                  item.name,
                  {text: new Intl.NumberFormat(['ban', 'id']).format(item.volume), alignment: 'right'},
                  {text: item.unit},
                  {text: ribuan(item.price), style: 'rupiah'},
                  item.location,
                  item.departement.name,
                  {text: ribuan(item.total), style: 'rupiah'},
                  {text: ribuan(item.total - item.base.total), style: 'rupiah'},
                  {text: ((item.total - item.base.total) / item.base.total * 100).toFixed(2)}
                ])
              } else {
                arr.push([
                  {text: (index === 0) ? (lvl > 0) ? `${prefix} ${value.code}` : value.code : '', style: 'code'},
                  (index === 0) ? value.name : '',
                  '',
                  '',
                  '',
                  '',
                  '',
                  '',
                  '',
                  item.name,
                  {text: new Intl.NumberFormat(['ban', 'id']).format(item.volume), alignment: 'right'},
                  {text: item.unit},
                  {text: ribuan(item.price), style: 'rupiah'},
                  item.location,
                  item.departement.name,
                  {text: ribuan(item.total), style: 'rupiah'},
                  {text: ribuan(item.total), style: 'rupiah'},
                  100
                ])
              }
            })
          } else {
            if (value.children.length === 0) {
              return
            } else {
              const tempTotal = _this.getChildrenTotal(value.code, true)
              if (tempTotal === 0) {
                return
              }
              const tempRevTotal = _this.getChildrenTotal(value.code, true)
              if (tempRevTotal === 0) {
                return
              }
              arr.push([
                {text: (lvl > 0) ? `${prefix} ${value.code}` : value.code, style: 'code'},
                value.name,
                '',
                '',
                '',
                '',
                '',
                '',
                {text: ribuan(tempTotal), style: 'rupiah'},
                '',
                '',
                '',
                '',
                '',
                '',
                {text: ribuan(tempRevTotal), style: 'rupiah'},
                {text: ribuan(tempRevTotal - tempTotal), style: 'rupiah'},
                {text: ((tempRevTotal - tempTotal) / tempTotal * 100).toFixed(2)}
              ])
            }
          }
          if (value.children.length > 0) {
            _this.treeRev(arr, value.children, lvl + 1)
          }
        })
      },
      onRevisionAction(logoDataUri, ancestors, coordinator, isDownload, bills) {
        const user = JSON.parse(localStorage.getItem('user'))
        let total = 0
        let data = []
        const name = coordinator.name
        const position = coordinator.position
        const nip = coordinator.nip
        const reportDetail = this.reportStore.reportRevisionDetail
        const _this = this
        let response = []
        const allBills = [
          ...bills,
          {
            id: 0,
            code: null,
            name: 'Lain-lain',
            children: []
          }
        ]
        _this.treeRev(response, allBills, 0)
        data = response
        const selectedPeriod = this.selectedPeriod
        let period = this.periods.filter(function(value) {
          return value.id === selectedPeriod
        })
        const formatedData = [
          [
            { text: 'Kode', style: 'tableHeader', rowSpan: 2, margin: [0, 10, 0, 0] },
            { text: 'Rekening', style: 'tableHeader', rowSpan: 2, margin: [0, 10, 0, 0] },
            { text: 'Sebelum', style: 'tableHeader', colSpan: 7 },
            {},
            {},
            {},
            {},
            {},
            {},
            { text: 'Sesudah', style: 'tableHeader', colSpan: 7 },
            {},
            {},
            {},
            {},
            {},
            {},
            { text: 'Perubahan', style: 'tableHeader', rowSpan: 2, margin: [0, 10, 0, 0] },
            { text: '%', style: 'tableHeader', rowSpan: 2, margin: [0, 10, 0, 0] }
          ],
          [
            '',
            '',
            { text: 'Nama', style: 'tableHeader' },
            { text: 'Vol', style: 'tableHeader' },
            { text: 'Satuan', style: 'tableHeader' },
            { text: 'Harga (Rp)', style: 'tableHeader' },
            { text: 'Lokasi', style: 'tableHeader' },
            { text: 'Unit', style: 'tableHeader' },
            { text: 'Anggaran (Rp)', style: 'tableHeader' },
            { text: 'Nama', style: 'tableHeader' },
            { text: 'Vol', style: 'tableHeader' },
            { text: 'Satuan', style: 'tableHeader' },
            { text: 'Harga (Rp)', style: 'tableHeader' },
            { text: 'Lokasi', style: 'tableHeader' },
            { text: 'Unit', style: 'tableHeader' },
            { text: 'Anggaran (Rp)', style: 'tableHeader' },
            '',
            ''
          ],
          ...data,
          [
            '',
            '',
            {text: 'Total', colSpan: 6, alignment: 'center'},
            {},
            {},
            {},
            {},
            {},
            {text: ribuan(_this.getGeneralTotal())},
            {text: 'Total', colSpan: 6, alignment: 'center'},
            {},
            {},
            {},
            {},
            {},
            {text: ribuan(_this.getRevisionTotal())},
            {text: ribuan(_this.getRevisionTotal() - _this.getGeneralTotal()), alignment: 'right' },
            {text: ((_this.getRevisionTotal() - _this.getGeneralTotal()) / _this.getGeneralTotal() * 100).toFixed(2)}
          ]
        ]

        const docDefinition = {
          pageSize: 'A4',
          pageOrientation: 'landscape',
          pageMargins: 15,
          styles: {
            header: {
              alignment: 'center',
              fontSize: 12
            },
            tableHeader: {
              bold: true,
              fontSize: 9,
              color: 'black',
              alignment: 'center'
            },
            table: {
              margin: [0, 5, 0, 15],
              fontSize: 7
            },
            tableTop: {
              margin: [200, 5, 200, 15],
              fontSize: 10
            },
            tableSign: {
              fontSize: 9
            },
            rupiah: {
              alignment: 'right'
            },
            code: {
              fontSize: 8
            }
          },
          content: [
            {
              layout: 'noBorders',
              style: 'tableTop',
              table: {
                widths: [ 75, '*' ],
                body: [
                  [{ image: logoDataUri, width: 55, height: 55, rowSpan: 3, alignment: 'center' }, { text: 'RANCANGAN ANGGARAN PERUBAHAN', alignment: 'center' }],
                  [{}, { text: 'RUMAH SAKIT UMUM DAERAH KABUPATEN TEMANGGUNG', alignment: 'center' }],
                  [{}, { text: 'TAHUN ANGGARAN ' + period[0].year, alignment: 'center' }]
                ]
              }
            },
            { text: (ancestors.length <= 2) ? '' : ancestors[1].name, alignment: 'left', style: { fontSize: 9 }, margin: [0, 15, 0, 0] },
            { text: 'Sub. Bidang : ' + user.departement.name, alignment: 'left', style: { fontSize: 9 } },
            {
              style: 'table',
              table: {
                headerRows: 2,
                pageBreak: 'before',
                dontBreakRows:true,
                widths: [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
                body: formatedData
              }
            },
            {
              layout: 'noBorders',
              style: 'tableSign',
              table: {
                widths: [ '*', '*', '*' ],
                body: [
                  ['', '', { text: 'Temanggung, ' + moment().format('LL'), alignment: 'center' }],
                  ['', '', { text: position + ' ' + user.departement.name, alignment: 'center', margin: [0, 0, 0, 50] }],
                  ['', '', { text: name, alignment: 'center' }],
                  ['', '', { text: 'NIP' + nip, alignment: 'center' }]
                ]
              }
            }
          ]
        };
        if (isDownload) {
          pdfMake.createPdf(docDefinition).download(user.departement.name + ' (Detail).pdf');
        } else {
          pdfMake.createPdf(docDefinition).print();
        }
      },
      onAction(isDownload = false) {
        const _this = this
        _this.$store.dispatch('toggleReportDetailLoading')
        const user = JSON.parse(localStorage.getItem('user'))
        let logoDataUri, ancestors, bills
        getDataUri('/images/logo.png')
        .then(function(imageDataUri) {
          logoDataUri = imageDataUri
          return _this.$http.get(`api/departement/ancestor`, getAuthorizationToken())
        })
        .then(function(res) {
          ancestors = res.data
          return _this.$http.get(`api/bill/all`, getAuthorizationToken())
        })
        .then(function(res) {
          bills = res.data
          return _this.$http.get(`api/coordinator/${user.departement.id}`, getAuthorizationToken())
        })
        .then(function(res) {
          _this.$store.dispatch('toggleReportDetailLoading')
          if (typeof res.data.name === 'undefined' && typeof res.data.nip === 'undefined') {
            galat('Penananggung jawab masih kosong, silakan isi di halaman pengaturan terlebih dahulu!')
          } else {
            if (_this.isRevisionMode) {
              _this.onRevisionAction(logoDataUri, ancestors, res.data, isDownload, bills)
            } else {
              _this.onGeneralAction(logoDataUri, ancestors, res.data, isDownload, bills)
            }
          }
        })
        .catch(function(err) {
          _this.$store.dispatch('toggleReportDetailLoading')
          console.error(err)
          galat(err.data.message)
        })
      }
    },
    watch: {
      selectedPeriod: function(id) {
        this.onFetch(id)
        const index = this.periods.findIndex(function(value) {
          return value.id === id
        })
        if (index > -1) {
          this.hasRevision = this.periods[index].has_revision
          if (this.hasRevision) {
            this.onFetchRevision(id)
          }
        }
      }
    },
    created() {
      moment.locale('id')
      this.getPeriods()
    }
  }
</script>
