<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rekap Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div v-if="periods.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih periode</span>
                    <select v-model="selectedPeriod" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value" :disabled="reportStore.isReportRecapLoading">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <clip-loader v-if="reportStore.isReportRecapLoading"></clip-loader>
                <div v-else class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li :class="{ active: !isRevisionMode }">
                      <a href="#tab_1" @click="onToggle(false)" data-toggle="tab">Anggaran Penetapan</a>
                    </li>
                    <li v-if="selectedPeriod !== null" class="pull-right">
                      <button 
                        v-if="!reportStore.isRecapLoading || !reportStore.isRevisionRecapLoading || reportStore.reportRecap.length > 0 || reportStore.reportRevisionRecap.length > 0" 
                        @click="onAction(true)" 
                        class="btn btn-success btn-sm btn-flat pull-left" 
                        title="Unduh rekap anggaran" 
                        :disabled="isPrinting"
                      >
                        <i class="glyphicon glyphicon-download-alt"></i> Unduh
                      </button>
                      <button 
                        v-if="!reportStore.isRecapLoading || !reportStore.isRevisionRecapLoading || reportStore.reportRecap.length > 0 || reportStore.reportRevisionRecap.length > 0" 
                        @click="onAction(false)" 
                        class="btn btn-success btn-sm btn-flat pull-left" 
                        title="Cetak rekap anggaran" 
                        :disabled="isPrinting"
                      >
                        <i class="glyphicon glyphicon-print"></i> Cetak
                      </button>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div :class="{ 'tab-pane': true, active: !isRevisionMode }" id="tab_1">
                      <clip-loader v-if="reportStore.isRecapLoading"></clip-loader>
                      <p v-else-if="selectedPeriod === null" class="text-center">Silakan pilih periode terlebih dahulu!</p>
                      <table v-else class="table table-bordered">
                        <tbody>
                          <tr>
                            <th class="text-center">Kode Rekening</th>
                            <th class="text-center">Nama Rekening</th>
                            <th class="text-center">
                              Anggaran
                              <br>
                              <small>(Jumlah dari detail anggaran masing masing rekening)</small>
                            </th>
                          </tr>
                          <tr v-if="selectedPeriod === null">
                            <td colspan="3" class="text-center">Silakan pilih periode terlebih dahulu</td>
                          </tr>
                          <tr v-else-if="reportStore.reportRecap.length === 0">
                            <td colspan="3" class="text-center">Tidak ada data</td>
                          </tr>
                          <tr v-else v-for="(budget, index) in reportStore.reportRecap">
                            <td>{{budget.code}}</td>
                            <td>{{budget.name}}</td>
                            <td class="text-right">{{getRupiah(budget.total)}}</td>
                          </tr>
                          <tr v-if="selectedPeriod != null && reportStore.reportRecap.length != 0">
                              <td colspan="2" class="text-center"><strong>Total</strong></td>
                              <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div :class="{ 'tab-pane': true, active: isRevisionMode }" id="tab_2">
                      <clip-loader v-if="reportStore.isRevisionRecapLoading"></clip-loader>
                      <p v-else-if="selectedPeriod === null" class="text-center">Silakan pilih periode terlebih dahulu!</p>
                      <table v-else class="table table-bordered">
                        <tbody>
                          <tr>
                            <th class="text-center">Kode Rekening</th>
                            <th class="text-center">Nama Rekening</th>
                            <th class="text-center">
                              Anggaran
                              <br>
                              <small>(Jumlah dari detail anggaran masing masing rekening)</small>
                            </th>
                          </tr>
                          <tr v-if="selectedPeriod === null">
                            <td colspan="3" class="text-center">Silakan pilih periode terlebih dahulu</td>
                          </tr>
                          <tr v-else-if="reportStore.reportRecap.length === 0">
                            <td colspan="3" class="text-center">Tidak ada data</td>
                          </tr>
                          <tr v-else v-for="(budget, index) in reportStore.reportRevisionRecap">
                            <td>{{budget.code}}</td>
                            <td>{{budget.name}}</td>
                            <td class="text-right">{{getRupiah(budget.total)}}</td>
                          </tr>
                          <tr v-if="selectedPeriod != null && reportStore.reportRecap.length != 0">
                              <td colspan="2" class="text-center"><strong>Total</strong></td>
                              <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import moment from 'moment'
  import Papa from 'papaparse'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import { getAuthorizationToken, rupiah, ribuan, galat, getDataUri } from '../../functions'
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader
    },
    computed: {
      ...mapState({
        reportStore: state => state.reportStore
      }),
      options: function() {
        return this.periods.map(period => {
          return {
            value: period.id,
            text: period.name +' - '+ period.year
          }
        })
      }
    },
    data() {
      return {
        periods: [],
        selectedPeriod: null,
        hasRevision: 0,
        isRevisionMode: false
      }
    },
    methods: {
      onToggle(isRevision) {
        this.isRevisionMode = isRevision
      },
      getPeriods() {
        this.$store.dispatch('toggleReportRecapLoading')
        this.$http.get(`api/period`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportRecapLoading')
          this.periods = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportRecapLoading')
        })
      },
      getTotal() {
        if (this.isRevisionMode) {
          return _.sumBy(this.reportStore.reportRevisionRecap, function(value) {
            return parseInt(value.total)
          })
        } else {
          return _.sumBy(this.reportStore.reportRecap, function(value) {
            return parseInt(value.total)
          })
        }
      },
      onExport() {
        let total = 0
        let data = []
        const reportRecap = this.reportStore.reportRecap
        this.reportStore.reportRecap.forEach(function(value, index) {
          total += parseInt(value.total)
          data = [
            ...data,
            [
              value.code,
              value.name,
              value.total
            ]
          ]
          if (index === reportRecap.length - 1) {
            data = [
              ...data,
              [
                '',
                'Total',
                total,
              ]
            ]
          }
        })
        const csv = Papa.unparse({
          fields: ['Kode Rekening', 'Nama Rekening', 'Anggaran'],
          data
        })
        const str = Papa.unparse(data, {
          quotes: true,
          quoteChar: '"',
          delimiter: ',',
          header: false,
          newline: '\r\n'
        })
        const user = JSON.parse(localStorage.getItem('user'))
        const csvData = new Blob([csv], {type: 'text/csv;charset=utf-8;'});
        const csvURL = window.URL.createObjectURL(csvData);
        const tempLink = document.createElement('a');
        tempLink.href = csvURL;
        tempLink.setAttribute('download', user.departement.name + ' (Rekap).csv');
        tempLink.click();
      },
      formatRecapData(data) {
        const newData = data.map(function(item) {
          const bill = (item.bill_id === null) ? {code: '', name: 'Lain-lain'} : item.bill
          return {
            ...item,
            bill
          }
        })
        const groupedData = _.groupBy(newData, function(item) {
          return item.bill_id
        })
        let recap = []
        _.forEach(groupedData, function(value, key) {
          let tempTotal = 0
          value.forEach(function(item) {
            tempTotal += parseInt(item.total)
          })
          const newData = {
            code: value[0].bill.code,
            name: value[0].bill.name,
            total: tempTotal
          }
          recap.push(newData)
        })
        return recap
      },
      onFetch(id) {
        this.$store.dispatch('toggleRecapLoading')
        this.$http.get(`api/budget/recap/${id}`, getAuthorizationToken())
        .then(function(res) {
          const recap = this.formatRecapData(res.data)
          this.$store.dispatch('getReportRecap', recap)
          this.$store.dispatch('toggleRecapLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleRecapLoading')
        })
      },
      onFetchRevision(id) {
        this.$store.dispatch('toggleRevisionRecapLoading')
        this.$http.get(`api/budget/recap/${id}/1`, getAuthorizationToken())
        .then(function(res) {
          const recap = this.formatRecapData(res.data)
          this.$store.dispatch('getReportRevisionRecap', recap)
          this.$store.dispatch('toggleRevisionRecapLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleRevisionRecapLoading')
        })
      },
      getRupiah(num) {
        return rupiah(num)
      },
      getChildrenTotal(code, isRevision) {
        // console.log('getChildrenTotal', code)
        let filteredData
        if (isRevision) {
          filteredData = this.reportStore.reportRevisionRecap.filter(function(value) {
            return (value.code.startsWith(code))
          })
        } else {
          filteredData = this.reportStore.reportRecap.filter(function(value) {
            return (value.code.startsWith(code))
          })
          console.log({code, filteredData: filteredData.map(function(v) {
            return v.code;
          })})
        }
        const total = _.sumBy(filteredData, function(value) {
          return parseInt(value.total)
        })
        return total
      },
      generateLevel(lvl) {
        let prefix = '-'
        for (var i = 0; i < lvl; i++) {
          prefix = `${prefix} -`
        }
        return prefix
      },
      tree(arr, data, lvl) {
        // console.log('tree', {arr, data, lvl})
        const _this = this
        const prefix = _this.generateLevel(lvl)
        data.forEach(function(value) {
          const index = _this.reportStore.reportRecap.findIndex(function(recap, index) {
            return value.code === recap.code
          })
          if (index > -1) {
            arr.push([
              (lvl > 0) ? `${prefix} ${value.code}` : _this.reportStore.reportRecap[index].code,
              _this.reportStore.reportRecap[index].name,
              { text: ribuan(_this.reportStore.reportRecap[index].total), style: 'rupiah' }
            ])
          } else {
            if (value.children.length === 0) {
              return
            } else {
              const tempTotal = _this.getChildrenTotal(value.code, false)
              // console.log({code: value.code, tempTotal})
              if (tempTotal === 0) {
                return
              } else {
                arr.push([
                  (lvl > 0) ? `${prefix} ${value.code}` : value.code,
                  value.name,
                  { text: ribuan(tempTotal), style: 'rupiah' }
                ])
              }
            }
          }
          if (value.children.length > 0) {
            _this.tree(arr, value.children, lvl + 1)
          }
        })
      },
      treeRev(arr, data, lvl) {
        const _this = this
        const prefix = _this.generateLevel(lvl)
        data.forEach(function(value) {
          const index = _this.reportStore.reportRevisionRecap.findIndex(function(recap, index) {
            return value.code === recap.code
          })
          if (index > -1) {
            arr.push([
              (lvl > 0) ? `${prefix} ${value.code}` : _this.reportStore.reportRevisionRecap[index].code,
              _this.reportStore.reportRevisionRecap[index].name,
              { text: ribuan(_this.reportStore.reportRevisionRecap[index].total), style: 'rupiah' }
            ])
          } else {
            if (value.children.length === 0) {
              return
            } else {
              const tempTotal = _this.getChildrenTotal(value.code, true)
              if (tempTotal === 0) {
                return
              } else {
                arr.push([
                  (lvl > 0) ? `${prefix} ${value.code}` : value.code,
                  value.name,
                  { text: ribuan(tempTotal), style: 'rupiah' }
                ])
              }
            }
          }
          if (value.children.length > 0) {
            _this.tree(arr, value.children, lvl + 1)
          }
        })
      },
      onAction(isDownload = false) {
        const _this = this
        _this.$store.dispatch('toggleReportRecapLoading')
        const user = JSON.parse(localStorage.getItem('user'))
        let logoDataUri, ancestors, bills
        getDataUri('/images/logo.png')
        .then(function(imageDataUri) {
          logoDataUri = imageDataUri
          return _this.$http.get(`api/departement/ancestor`, getAuthorizationToken())
        })
        .then(function(res) {
          ancestors = res.data
          return _this.$http.get(`api/bill/all`, getAuthorizationToken())
        })
        .then(function(res) {
          bills = res.data
          return _this.$http.get(`api/coordinator/${user.departement.id}`, getAuthorizationToken())
        })
        .then(function(res) {
          _this.$store.dispatch('toggleReportRecapLoading')
          if (typeof res.data.name === 'undefined' && typeof res.data.nip === 'undefined') {
            galat('Penananggung jawab masih kosong, silakan isi di halaman pengaturan terlebih dahulu!')
          } else {
            const name = res.data.name
            const position = res.data.position
            const nip = res.data.nip
            let total = 0
            let data
            if (_this.isRevisionMode) {
              let response = []
              const allBills = [
                ...bills,
                {
                  id: 0,
                  code: null,
                  name: 'Lain-lain',
                  children: []
                }
              ]
              _this.treeRev(response, allBills, 0)
              data = response              
            } else {

              let response = []
              const allBills = [
                ...bills,
                {
                  id: 0,
                  code: null,
                  name: 'Lain-lain',
                  children: []
                }
              ]
              // console.log({response, allBills})
              _this.tree(response, allBills, 0)
              data = response
            }
            const selectedPeriod = _this.selectedPeriod
            let period = _this.periods.filter(function(value) {
              return value.id === selectedPeriod
            })
            // console.log('akhir', {data})
            const formatedData = [
              [ {text: 'Kode', style: 'tableHeader'}, {text: 'Uraian', style: 'tableHeader'}, {text: 'Anggaran (Rp)', style: 'tableHeader'} ],
              ...data,
              [ {text: 'Total', colSpan: 2, alignment: 'center'}, {}, {text: ribuan(_this.getTotal()), alignment: 'right'} ]
            ]

            const docDefinition = {
              pageSize: 'A4',
              pageMargins: 15,
              styles: {
                header: {
                  alignment: 'center',
                  fontSize: 9
                },
                tableHeader: {
                  bold: true,
                  fontSize: 9,
                  color: 'black',
                  alignment: 'center'
                },
                table: {
                  margin: [0, 5, 0, 15],
                  fontSize: 9
                },
                tableTop: {
                  margin: [80, 5, 80, 15],
                  fontSize: 10
                },
                tableSign: {
                  fontSize: 9
                },
                rupiah: {
                  alignment: 'right'
                }
              },
              content: [
                {
                  layout: 'noBorders',
                  style: 'tableTop',
                  table: {
                    widths: [ 75, '*' ],
                    body: [
                      [{ image: logoDataUri, width: 55, height: 55, rowSpan: 3, alignment: 'center' }, { text: (_this.isRevisionMode) ? 'RANCANGAN ANGGARAN PERUBAHAN' : 'RANCANGAN ANGGARAN', alignment: 'center' }],
                      [{}, { text: 'RUMAH SAKIT UMUM DAERAH KABUPATEN TEMANGGUNG', alignment: 'center' }],
                      [{}, { text: 'TAHUN ANGGARAN ' + period[0].year, alignment: 'center' }]
                    ]
                  }
                },
                { text: (ancestors.length <= 2) ? '' : ancestors[1].name, alignment: 'left', style: { fontSize: 9 }, margin: [0, 15, 0, 0] },
                { text: 'Sub. Bidang : ' + user.departement.name, alignment: 'left', style: { fontSize: 9 } },
                {
                  style: 'table',
                  table: {
                    headerRows: 1,
                    widths: [ '*', '*', '*' ],
                    body: formatedData
                  }
                },
                {
                  layout: 'noBorders',
                  style: 'tableSign',
                  table: {
                    widths: [ '*', '*', '*' ],
                    body: [
                      ['', '', { text: 'Temanggung, ' + moment().format('LL'), alignment: 'center' }],
                      ['', '', { text: position + ' ' + user.departement.name, alignment: 'center', margin: [0, 0, 0, 50] }],
                      ['', '', { text: name, alignment: 'center' }],
                      ['', '', { text: 'NIP' + nip, alignment: 'center' }]
                    ]
                  }
                }
              ]
            };
            if (isDownload) {
              pdfMake.createPdf(docDefinition).download(user.departement.name + ' (Rekap).pdf');
            } else {
              pdfMake.createPdf(docDefinition).print();
            }
          }
        })
        .catch(function(err) {
          _this.$store.dispatch('toggleReportRecapLoading')
          console.error(err)
        })
      }
    },
    watch: {
      selectedPeriod: function(id) {
        this.onFetch(id)
        const index = this.periods.findIndex(function(value) {
          return value.id === id
        })
        if (index > -1) {
          this.hasRevision = this.periods[index].has_revision
          if (this.hasRevision) {
            this.onFetchRevision(id)
          }
        }
      },
    },
    created() {
      moment.locale('id')
      this.getPeriods()
    }
  }
</script>
