<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Tambah Rekening
          <small>Tambah rekening</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Tambah Rekening</h3>
              </div>
              <form v-on:submit.prevent="onAdd" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.bill}">
                    <label for="rekening" class="col-sm-2 control-label">Rekening Induk</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedBill"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama rekening"
                        :options="bills"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        :custom-label="customLabel"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Data tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span v-if="error.bill" v-html="getBillErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.kode}">
                    <label for="kode" class="col-sm-2 control-label">Kode</label>
                    <div class="col-sm-10">
                      <div v-if="selectedBill !== null" class="input-group">
                        <span class="input-group-addon">{{ selectedBill.code }}.</span>
                        <input v-model="input.kode" type="text" class="form-control" id="kode" placeholder="masukkan kode selanjutnya">
                      </div>
                      <input v-else v-model="input.kode" type="text" class="form-control" id="kode" placeholder="Kode">
                      <span v-if="error.kode" v-html="getCodeErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Tambah rekening" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-plus-sign"></i> Tambah
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    kode: null,
    nama: null
  }
  const initialError = {
    nama: null,
    kode: null,
    rekening: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        selectedBill: null,
        bills: [],
        input: {
          kode: null,
          nama: null
        },
        error: {
          kode: null,
          nama: null,
          rekening: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getCodeErrorMessages() {
        if (this.error.kode) {
          return this.error.kode.join('<br />')
        }
      },
      getBillErrorMessages() {
        if (this.error.bill) {
          return this.error.bill.join('<br />')
        }
      }
    },
    methods: {
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      customLabel ({ code, name }) {
        return `${code} – ${name}`
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/bill?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.bills = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            _this.isLoading = false
            console.error(err)
          })
        }, 1000
      ),
      onAdd() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.kode === null || this.input.kode === '') {
          isError = true
          this.error.kode = ['Kode harus diisi']
        }
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (isError) {
          return
        }
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          kode: (this.selectedBill === null) ? this.input.kode : `${this.selectedBill.code}.${this.input.kode}`,
          rekening_atas: (this.selectedBill === null) ? '' : this.selectedBill.id,
        }
        this.$http.post(`api/bill`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.selectedBill = null
          this.bills = []
          berhasil('Rekening berhasil ditambahkan')
        }).catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      }
    }
  }
</script>
