<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Tambah Rekening
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
              <h3 class="box-title"></h3>
              </div>
              <form v-on:submit.prevent="onSubmit" class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="kategori" class="col-sm-2 control-label">Rekening Induk</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedCategory"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Ketik untuk mencari"
                        :options="categories"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Kategori tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.kode}">
                    <label for="kode" class="col-sm-2 control-label">Kode</label>
                    <div class="col-sm-10">
                      <div v-if="!isManualMode" class="input-group">
                        <span class="input-group-addon">{{ selectedCategory.code }}</span>
                        <input v-model="nextId" disabled="true" type="text" class="form-control" id="kode" placeholder="membuat kode baru...">
                        <span class="input-group-addon">
                          <clip-loader v-if="isCodeLoading" size="18px"></clip-loader>
                          <a v-else @click="onChange"><i class="glyphicon glyphicon-pencil"></i></a>
                        </span>
                      </div>
                      <input v-else v-model="input.kode" type="text" class="form-control" id="kode" placeholder="Nomor rekening, misal : 5.4.2.1">
                      <span v-if="error.kode" v-html="getCodeErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama rekening">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Tambah rincian rekening">
                    <pulse-loader v-if="isSubmitting" color="#fff"></pulse-loader>
                    <span v-else>
                      <i class="glyphicon glyphicon-plus-sign"></i> Tambah
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import Alert from '../Common/Alert.vue'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { getAuthorizationToken } from '../../functions'
  import { galat, berhasil } from '../../functions'
  export default {
    components: {
      Alert,
      Navbar,
      Sidebar,
      Multiselect,
      ClipLoader,
      PulseLoader
    },
    data() {
      return {
        input: {
          kategoriId: null,
          kode: null,
          nama: null
        },
        error: {
          kode: null,
          nama: null
        },
        selectedCategory: null,
        categories: [],
        isLoading: false,
        latestBillCode: null,
        isCodeLoading: false,
        isManualMode: true,
        isSubmitting: false
      }
    },
    methods: {
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/bill?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.categories = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      getLatestBillByCategory(categoryId)
      {
        this.isCodeLoading = true
        this.$http.get(`api/bill/latest/${categoryId}`, getAuthorizationToken()).then(function(res) {
          if (typeof res.data.code !== 'undefined') {
            this.latestBillCode = res.data.code
          } else {
            this.latestBillCode = 0
          }
          this.isCodeLoading = false
        }).catch(function(err) {
          console.error(err)
          this.isCodeLoading = false
          this.$store.dispatch('setAlert', { type: 'error', message: 'Tidak dapat mengambil kode kategori terakhir!'})
        })
      },
      onSubmit(e)
      {
        if (this.input.kode === null || this.input.nama === null) {
          this.error.kode = (this.input.kode === null) ? ['Kode harus diisi'] : null,
          this.error.nama = (this.input.nama === null) ? ['Nama harus diisi'] : null
          return
        } else {
          this.isSubmitting = true
          const newCode = (this.selectedCategory !== null) ? this.selectedCategory.code.toString() + '.' + this.input.kode.toString() : this.input.kode.toString()
          let data = {
            kode: newCode,
            nama: this.input.nama,
            rekening_atas: (this.selectedCategory === null) ? '' : this.selectedCategory.id,
          }
          this.$http.post(`api/bill`, data, getAuthorizationToken()).then(function(res) {
            this.isSubmitting = false
            this.resetForm()
            berhasil('Data berhasil ditambahkan!')
          }).catch(function(err) {
            console.error(err)
            this.isSubmitting = false
            if (err.status === 422) {
              this.error.kode = err.data.kode
              this.error.nama = err.data.nama
            } else {
              galat(err.data.message)
            }
          });
        }
      },
      onChange(e)
      {
        this.isManualMode = true
      },
      resetForm()
      {
        this.input.kategoriId = null
        this.input.kode = null
        this.input.nama = null
        this.error.kode = null
        this.error.nama = null
        this.selectedCategory = null
        this.categories = []
        this.latestBillCode = null
        this.isManualMode = true
      }
    },
    watch: {
      selectedCategory: function(newSelectedCategory) {
        if (newSelectedCategory !== null && typeof newSelectedCategory.id !== 'undefined') {
          this.isManualMode = false
          this.input.kategoriId = newSelectedCategory.id
          this.getLatestBillByCategory(newSelectedCategory.id)
        } else {
          this.input.kategoriId = null
          this.input.kode = null
          this.latestBillCode = null
          this.isManualMode = true
        }
      },
      latestBillCode: function(newLatestBillCode) {
        if (newLatestBillCode === null) {
          this.input.kode = null
        } else if (newLatestBillCode === 0) {
            this.input.kode = (this.selectedCategory.code.split('.').length > 5) ? '01' : 1
        } else {
          const splited = newLatestBillCode.split('.')
          if (splited.length > 5) {
            if (splited[splited.length - 1] < 9) {
              const temp = parseInt(splited[splited.length - 1]) + 1
              this.input.kode = `0${temp}`
            } else {
              this.input.kode = parseInt(splited[splited.length - 1]) + 1
            }
          } else {
            this.input.kode = parseInt(splited[splited.length - 1]) + 1
          }
        }
      }
    },
    computed: {
      nextId: function()
      {
        if (this.latestBillCode === null) {
          return null
        } else if (this.latestBillCode === 0) {
            return (this.selectedCategory.code.split('.').length > 5) ? '01' : 1
        } else {
          const splited = this.latestBillCode.split('.')
          if (splited.length > 5) {
            if (splited[splited.length - 1] < 9) {
              const temp = parseInt(splited[splited.length - 1]) + 1
              return `0${temp}`
            } else {
              return parseInt(splited[splited.length - 1]) + 1
            }
          } else {
            return parseInt(splited[splited.length - 1]) + 1
          }
        }
      },
      getCodeErrorMessages() {
        if (this.error.kode) {
          return this.error.kode.join('<br />')
        }
      },
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      }
    }
  }
</script>
