<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Struktur Rekening
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"></h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Kode</th>
                      <th width="50%">Nama</th>
                      <th v-if="isDeveloper">Aksi</th>
                    </tr>
                    <tr v-if="bills.length === 0">
                      <td colspan="4" class="text-center"><i>Tidak terdapat data</i></td>
                    </tr>
                    <tr v-for="bill in bills">
                      <td>{{bill.code}}</td>
                      <td>{{bill.name}}</td>
                      <td v-if="isDeveloper">
                        <div class="btn-group">
                          <button @click.prevent="onEdit(bill.id)" class="btn btn-sm btn-flat btn-info" title="Sunting rekening"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button @click.prevent="onDelete(bill.id)" class="btn btn-sm btn-flat btn-danger" title="Hapus rekening"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { getAuthorizationToken, berhasil, galat } from '../../functions'
  import Alert from '../Common/Alert.vue'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import SimplePagination from '../Common/SimplePagination.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  export default {
    components: {
      Alert,
      Navbar,
      Sidebar,
      SimplePagination,
      ClipLoader
    },
    data() {
      return {
        keyword: null,
        isLoading: false,
        bills: []
      }
    },
    computed: {
      // ...mapState({
      //   billStore: state => state.billStore
      // }),
      isDeveloper() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        const index = user.roles.findIndex(role => {
          return role === 'developer'
        })
        if (index > -1) {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      tree(arr, data, lvl) {
        const _tree = this.tree
        let prefix = ''
        for (let i = 0; i < lvl; i++) {
          prefix = prefix + ' -'
        }
        data.forEach(function(value) {
          arr.push({
            id: value.id,
            code: (lvl > 0) ? prefix + ' ' + value.code : value.code,
            name: value.name
          })
          if (value.children.length > 0) {
            _tree(arr, value.children, lvl + 1)
          }
        })
      },
      onFetch(query = null) {
        let url = `api/bill/all`
        if (query) {
          url += query
        }
        // this.$store.dispatch('toggleBillLoading')
        this.isLoading = true
        this.$http.get(url, getAuthorizationToken())
        .then(function(res) {
          let data = []
          this.tree(data, res.data, 0)
          console.log(data)
          this.isLoading = false
          this.bills = data
          // this.$store.dispatch('getBills', res.body.data)
          // this.$store.dispatch('getBillsPagination', { prev_page_url: res.body.prev_page_url, next_page_url: res.body.next_page_url})
          // this.$store.dispatch('toggleBillLoading')
        }).catch(function(err) {
          console.error(err)
          // this.$store.dispatch('toggleBillLoading')
          this.isLoading = false
        })
      },
      onEdit(billId) {
        this.$router.push({ name: 'suntingRekening', params: { id: billId } })
      },
      onDelete(billId) {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang berada di bawah rekening ini juga akan dihapus!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/bill/${billId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      }
    },
    created() {
      this.onFetch()
    }
  }
</script>
