<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Daftar Rekening
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"></h3>
                <div v-if="!billStore.isLoading" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input v-model="keyword" @keyup.enter="onSearch" type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="billStore.isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Kode</th>
                      <th width="50%">Nama</th>
                      <th>Rekening Induk</th>
                      <th v-if="isDeveloper">Aksi</th>
                    </tr>
                    <tr v-if="billStore.bills.length === 0">
                      <td colspan="4" class="text-center"><i>Tidak terdapat data</i></td>
                    </tr>
                    <tr v-for="bill in billStore.bills">
                      <td>{{bill.code}}</td>
                      <td>{{bill.name}}</td>
                      <td>{{(bill.parent === null) ? '' : bill.parent.name}}</td>
                      <td v-if="isDeveloper">
                        <div class="btn-group">
                          <button @click.prevent="onEdit(bill.id)" class="btn btn-sm btn-flat btn-info" title="Sunting rekening"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button @click.prevent="onDelete(bill.id)" class="btn btn-sm btn-flat btn-danger" title="Hapus rekening"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
                <simple-pagination v-if="!billStore.isLoading" :onFetch="onFetch" :prevPageUrl="billStore.prev_page_url" :nextPageUrl="billStore.next_page_url"></simple-pagination>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { getAuthorizationToken, berhasil, galat } from '../../functions'
  import Alert from '../Common/Alert.vue'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import SimplePagination from '../Common/SimplePagination.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  export default {
    components: {
      Alert,
      Navbar,
      Sidebar,
      SimplePagination,
      ClipLoader
    },
    data() {
      return {
        keyword: null
      }
    },
    computed: {
      ...mapState({
        billStore: state => state.billStore
      }),
      isDeveloper() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        const index = user.roles.findIndex(role => {
          return role === 'developer'
        })
        if (index > -1) {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      onFetch(query = null) {
        let url = `api/bill`
        if (query) {
          url += query
        }
        this.$store.dispatch('toggleBillLoading')
        this.$http.get(url, getAuthorizationToken()).then(function(res) {
          this.$store.dispatch('getBills', res.body.data)
          this.$store.dispatch('getBillsPagination', { prev_page_url: res.body.prev_page_url, next_page_url: res.body.next_page_url})
          this.$store.dispatch('toggleBillLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleBillLoading')
        })
      },
      onSearch() {
        this.onFetch(`?keyword=${this.keyword}`);
      },
      onEdit(billId) {
        this.$router.push({ name: 'suntingRekening', params: { id: billId } })
      },
      onDelete(billId) {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang berada di bawah rekening ini juga akan dihapus!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/bill/${billId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      }
    },
    created() {
      this.onFetch()
    }
  }
</script>
