<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Selamat datang di SIPA
          <small>(Sistem Informasi Perancangan Anggaran)</small>
        </h1>
      </section>
      <section v-if="!isDeveloper" class="content">
        <div v-if="!isLoading" class="row">
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Tahun Anggaran</h3>
              </div>
              <div class="box-body text-center">
                <h1>{{(period === null) ? '-' : period }}</h1>
              </div>
              <button @click.prevent="onClickBudget" type="button" class="btn btn-block btn-primary">Buat rancangan</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Total rancangan anggaran</h3>
              </div>
              <div class="box-body text-center">
                <h1>{{getRupiah(this.total)}}</h1>
              </div>
              <button @click.prevent="onClickRecap" type="button" class="btn btn-block btn-primary btn-sm">Lihat Rekap</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <clip-loader v-if="isLoading"></clip-loader>
            <ul v-else class="timeline">
              <template v-for="(item, index) in formatedData">
                <li class="time-label">
                  <span>
                  {{formatDate(index)}}
                  </span>
                </li>
                <li v-for="value in item">
                  <i :class="{
                    'glyphicon': true,
                    'bg-red': value.notification_type.name === 'reject',
                    'bg-aqua': value.notification_type.name === 'request',
                    'bg-yellow': value.notification_type.name === 'rollback',
                    'glyphicon-remove-sign': value.notification_type.name === 'reject',
                    'glyphicon-ok-sign': value.notification_type.name === 'request',
                    'glyphicon-retweet': value.notification_type.name === 'rollback'
                  }">
                  </i>
                  <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> {{formatDateFromNow(value.created_at)}}</span>
                  <h3 class="timeline-header">
                    <template v-if="value.notification_type.name === 'request'">
                      <a href="#">{{value.departement_from.name}}</a> {{value.notification_type.message}} ke {{value.departement_to.name}}
                    </template>
                    <template v-else-if="value.notification_type.name === 'reject'">
                      <a href="#">{{value.departement_from.name}}</a> {{value.notification_type.message}} dari {{value.departement_to.name}}
                    </template>
                    <template v-else-if="value.notification_type.name === 'rollback'">
                      <a href="#">{{value.departement_from.name}}</a> {{value.notification_type.message}}
                    </template>
                    <template v-else>
                      <a href="#">RSUD Temanggung</a> {{value.notification_type.message}}
                    </template>
                  </h3>
                  </div>
                </li>
              </template>
              <li v-if="formatedData.length > 0">
                <i class="glyphicon glyphicon-time bg-gray"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
    </footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import moment from 'moment'
  import { getAuthorizationToken, berhasil, galat, rupiah } from '../../functions'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader
    },
    computed: {
      formatedData: function() {
        return _.groupBy(this.notifications, item => {
          return item.created_at.split(' ')[0]
        })
      },
      isDeveloper() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        const index = user.roles.findIndex(role => {
          return role === 'developer'
        })
        if (index > -1) {
          return true
        } else {
          return false
        }
      }
    },
    data() {
      return {
        isLoading: false,
        notifications: [],
        period: null,
        total: 0
      }
    },
    methods: {
      onClickBudget: function() {
        this.$router.push({ name: 'tambahAnggaran' })
      },
      onClickRecap: function() {
        this.$router.push({ name: 'rekapAnggaran' })
      },
      formatDateFromNow: function(date) {
        return moment(date, 'YYYY-MM-DD HH:mm:ss').fromNow()
      },
      formatDate: function(date) {
        return moment(date, 'YYYY-MM-DD').format('DD MMMM YYYY')
      },
      onFetch() {
        if (this.isDeveloper) {
          return
        }
        this.isLoading = true
        this.$http.get(`api/notif`, getAuthorizationToken())
        .then(function(res) {
          this.isLoading = false
          this.notifications = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.isLoading = false
          galat('Tidak dapat mengambil data notifikasi!')
        })
      },
      getRupiah(num) {
        return rupiah(num)
      },
      getSummaryData() {
        this.$http.get(`api/period/active`, getAuthorizationToken())
        .then(function(res) {
          if (typeof res.data.year !== 'undefined') {
            this.period = res.data.year
            return this.$http.get(`api/budget/recap/${res.data.id}/${(res.data.has_revision)}`, getAuthorizationToken())
          } else {
            return res
          }
        })
        .then(function(res) {
          if (res.data.length > 0) {
            this.total = _.sumBy(res.data, function(value) {
              return parseInt(value.total)
            })
          } else {
            return 0
          }
        })
        .catch(function(err) {
          console.error(err)
          galat(err.data.message)
        })
      }
    },
    created() {
      moment.locale('id')
      this.onFetch()
      if (!this.isDeveloper) {
        this.getSummaryData()
      }
    }
  }
</script>
