<template>
  <div v-if="appStore.alert.isActive" :class="getClasses">
    <h4 v-if="appStore.alert.title">{{ appStore.alert.title }}</h4>
    <p v-if="typeof appStore.alert.message === 'string'">{{ appStore.alert.message }}</p>
    <ul v-else>
      <li v-for="message in appStore.alert.message">
        {{ message }}
      </li>
    </ul>
  </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
      computed: {
        ...mapState({
          appStore: state => state.appStore
        }),
        getClasses() {
          return {
            callout: true,
            'callout-success': this.appStore.alert.type === 'success',
            'callout-danger': this.appStore.alert.type === 'error',
            'callout-info': this.appStore.alert.type === 'info',
            'callout-warning': this.appStore.alert.type === 'warning'
          }
        }
      }
    }
</script>
