<template>
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-lg">
        <strong>RSUD Temanggung</strong>
      </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-collapse pull-right collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{name}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><router-link to="/profil">Profil</router-link></a></li>
              <li><a @click.prevent="handleLogout" href="#">Keluar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
  export default {
    computed: {
      name() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        return user.name
      }
    },
    methods: {
      handleLogout() {
        window.localStorage.removeItem('auth')
        window.localStorage.removeItem('user')
        this.$store.dispatch('setAlert', { type: 'success', message: 'Anda berhasil keluar' })
        this.$router.push({ name: 'masuk' })
      }
    }
  }
</script>
