<template>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">{{departement}}</li>
        <li v-if="!isDeveloper" :class="{ active: $route.name === 'beranda' }"><router-link to="/"><i class="glyphicon glyphicon-home"></i> <span>Beranda</span></router-link></li>
        <li :class="{ treeview: true, active: $route.name === 'rekening' || $route.name === 'tambahRekening' || $route.name === 'suntingRekening' }">
          <a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Rekening</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isDeveloper" :class="{ active: $route.name === 'tambahRekening' }"><router-link to="/rekening/tambah"><i class="glyphicon glyphicon-plus"></i> Tambah rekening</router-link></li>
            <li :class="{ active: $route.name === 'rekening' }"><router-link to="/rekening"><i class="glyphicon glyphicon-eye-open"></i> Lihat rekening</router-link></li>
          </ul>
        </li>
        <li v-if="!isDeveloper" :class="{ treeview: true, active: $route.name === 'anggaran' || $route.name === 'tambahAnggaran' || $route.name === 'lihatAnggaran' }">
          <a href="#"><i class="glyphicon glyphicon-usd"></i> <span>Rancangan Anggaran</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'tambahAnggaran' }"><router-link to="/anggaran/tambah"><i class="glyphicon glyphicon-plus"></i> Tambah ranc. anggaran</router-link></li>
            <li :class="{ active: $route.name === 'anggaran' }"><router-link to="/anggaran"><i class="glyphicon glyphicon-eye-open"></i> Lihat ranc. anggaran</router-link></li>
          </ul>
        </li>
        <li v-if="!isDeveloper" :class="{ treeview: true, active: $route.name === 'rekapAnggaran' || $route.name === 'rekapDetailAnggaran' }">
          <a href="#"><i class="glyphicon glyphicon-indent-right"></i> <span>Rekap Anggaran</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'rekapAnggaran' }"><router-link to="/rekap/anggaran"><i class="glyphicon glyphicon-align-center"></i> Rekap Anggaran</router-link></li>
            <li :class="{ active: $route.name === 'rekapDetailAnggaran' }"><router-link to="/rekap/anggaran/detail"><i class="glyphicon glyphicon-align-justify"></i> Rekap Detail Anggaran</router-link></li>
          </ul>
        </li>
        <li v-if="isDeveloper" :class="{ treeview: true, active: $route.name === 'departemen' || $route.name === 'tambahDepartemen' }">
          <a href="#"><i class="glyphicon glyphicon-sort-by-attributes"></i> <span>Departemen</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'tambahDepartemen' }"><router-link to="/departemen/tambah"><i class="glyphicon glyphicon-plus"></i> Tambah departemen</router-link></li>
            <li :class="{ active: $route.name === 'departemen' }"><router-link to="/departemen"><i class="glyphicon glyphicon-eye-open"></i> Lihat departemen</router-link></li>
          </ul>
        </li>
        <li v-if="isDeveloper" :class="{ treeview: true, active: $route.name === 'periode' || $route.name === 'periode' }">
          <a href="#"><i class="glyphicon glyphicon-sort-by-attributes"></i> <span>Periode</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'periode' }"><router-link to="/periode"><i class="glyphicon glyphicon-eye-open"></i> Lihat Periode</router-link></li>
          </ul>
        </li>
        <li v-if="isDeveloper" :class="{ treeview: true, active: $route.name === 'tambahPengguna' || $route.name === 'pengguna' }">
          <a href="#"><i class="glyphicon glyphicon-user"></i> <span>Pengguna</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'tambahPengguna' }">
              <router-link to="/pengguna/tambah"><i class="glyphicon glyphicon-plus"></i> Tambah Pengguna</router-link>
              </li>
            <li :class="{ active: $route.name === 'pengguna' }">
              <router-link to="/pengguna"><i class="glyphicon glyphicon-eye-open"></i> Lihat Pengguna</router-link>
              </li>
          </ul>
        </li>
        <li v-if="!isDeveloper" :class="{ treeview: true, active: $route.name === 'koordinator' || $route.name === 'profil' }">
          <a href="#"><i class="glyphicon glyphicon-cog"></i> <span>Pengaturan</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="{ active: $route.name === 'koordinator' }">
              <router-link to="/koordinator"><i class="glyphicon glyphicon-flag"></i> Penanggung jawab</router-link>
              </li>
            <li :class="{ active: $route.name === 'profil' }">
              <router-link to="/profil"><i class="glyphicon glyphicon-user"></i> Profil</router-link>
              </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
</template>

<script>
  export default {
      computed: {
        departement() {
          const user = JSON.parse(window.localStorage.getItem('user'))
          return user.departement.name.toUpperCase()
        },
        roles() {
          const user = JSON.parse(window.localStorage.getItem('user'))
          return user.roles
        },
        isRoot() {
          const user = JSON.parse(window.localStorage.getItem('user'))
          return (user.descendants.length > 0) ? true : false
        },
        isDeveloper() {
          const user = JSON.parse(window.localStorage.getItem('user'))
          const index = user.roles.findIndex(role => {
            return role === 'developer'
          })
          if (index > -1) {
            return true
          } else {
            return false
          }
        }
      }
  }
</script>
