<template>
  <ul class="pagination pagination-sm no-margin pull-right">
    <li :class="{ disabled: (this.prevPageUrl === null) ? true : false }"><a @click.prevent="onPrevClick" href="#">Sebelumnya</a></li>
    <li :class="{ disabled: (this.nextPageUrl === null) ? true : false }"><a @click.prevent="onNextClick" href="#">Selanjutnya</a></li>
  </ul>
</template>

<script>
  import parse from 'url-parse'
  export default {
    props: [
      'onFetch',
      'prevPageUrl',
      'nextPageUrl'
    ],
    data() {
      return {
        classes: {
          isPrevActive: (this.prevPageUrl === null) ? false : true,
          isNextActive: (this.nextPageUrl === null) ? false : true
        }
      }
    },
    methods: {
      onPrevClick() {
        if (this.prevPageUrl === null) {
          return
        }
        const query = parse(this.prevPageUrl).query
        this.onFetch(query);
      },
      onNextClick() {
        if (this.nextPageUrl === null) {
          return
        }
        const query = parse(this.nextPageUrl).query
        this.onFetch(query);
      }
    }
  }
</script>
