<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Tambah Pengguna
          <small>Tambah akun pengguna sistem</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Tambah Pengguna</h3>
              </div>
              <form v-on:submit.prevent="onAdd" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="Nama">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.username}">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                      <input v-model="input.username" type="text" class="form-control" id="username" placeholder="Username">
                      <span v-if="error.username" v-html="getUsernameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.password}">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                      <input v-model="input.password" type="password" class="form-control" id="password" placeholder="Password">
                      <span v-if="error.password" v-html="getPasswordErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.konfirmasi}">
                    <label for="konfirmasi" class="col-sm-2 control-label">Konfirmasi</label>
                    <div class="col-sm-10">
                      <input v-model="input.konfirmasi" type="password" class="form-control" id="konfirmasi" placeholder="Konfirmasi password">
                      <span v-if="error.konfirmasi" v-html="getConfirmationErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.departemen}">
                    <label for="volume" class="col-sm-2 control-label">Departemen</label>
                    <div class="col-sm-10">
                      <multiselect
                        v-model="selectedDepartment"
                        id="ajax"
                        label="name"
                        track-by="id"
                        placeholder="Tulis nama departemen"
                        :options="departments"
                        :multiple="false"
                        :searchable="true"
                        :loading="isLoading"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :limit-text="limitText"
                        @search-change="asyncFind"
                      >
                        <span slot="noResult">Data tidak ditemukan. Tulis untuk mencari (min 3 karakter)!</span>
                      </multiselect>
                      <span v-if="error.departemen" v-html="getDepartmentErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right btn-sm btn-flat" title="Tambah rincian rekening" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-plus-sign"></i> Tambah
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    nama: null,
    username: null,
    password: null,
    konfirmasi: null
  }
  const initialError = {
    nama: null,
    username: null,
    password: null,
    konfirmasi: null,
    departemen: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        selectedDepartment: null,
        departments: [],
        input: {
          nama: null,
          username: null,
          password: null,
          konfirmasi: null
        },
        error: {
          nama: null,
          username: null,
          password: null,
          konfirmasi: null,
          departemen: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getUsernameErrorMessages() {
        if (this.error.username) {
          return this.error.username.join('<br />')
        }
      },
      getPasswordErrorMessages() {
        if (this.error.password) {
          return this.error.password.join('<br />')
        }
      },
      getConfirmationErrorMessages() {
        if (this.error.konfirmasi) {
          return this.error.konfirmasi.join('<br />')
        }
      },
      getDepartmentErrorMessages() {
        if (this.error.departemen) {
          return this.error.departemen.join('<br />')
        }
      }
    },
    methods: {
      limitText(count) {
        return `and ${count} other data`
      },
      asyncFind(query) {
        if (query !== '' && query.length >= 3) {
          this.onSearch(query)
        }
      },
      onSearch: _.debounce(
        function(query) {
          this.isLoading = true
          const _this = this
          _this.$http.get(`api/departement?keyword=${query}`, getAuthorizationToken())
          .then(function(res) {
            _this.departments = res.data.data
            _this.isLoading = false
          }).catch(function(err) {
            _this.isLoading = false
            console.error(err)
          })
        }, 1000
      ),
      onCheck: _.debounce(
        function(username) {
          const _this = this
          const data = {
            username
          }
          _this.$http.post(`api/user/username`, data, getAuthorizationToken())
          .then(function(res) {
            if (parseInt(res.data)) {
              _this.error.username = null
            } else {
              _this.error.username = ['Username sudah terpakai']
            }
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      onAdd() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.username === null || this.input.username === '') {
          isError = true
          this.error.username = ['Username harus diisi']
        }
        if (this.input.password === null || this.input.password === '') {
          isError = true
          this.error.password = ['Password harus diisi']
        }
        if (this.input.konfirmasi === null || this.input.konfirmasi === '') {
          isError = true
          this.error.konfirmasi = ['Konfirmasi harus diisi']
        }
        if (this.input.konfirmasi !== this.input.password) {
          isError = true
          this.error.konfirmasi = ['Konfirmasi harus sama dengan password']
        }
        if (this.selectedDepartment === null) {
          isError = true
          this.error.departemen = ['Departemen harus diisi']
        }
        if (isError) {
          return
        }
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          username: this.input.username,
          password: this.input.password,
          id_departemen: this.selectedDepartment.id
        }
        this.$http.post(`api/user`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.selectedDepartment = null
          this.departments = []
          berhasil('Pengguna berhasil ditambahkan')
        }).catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      }
    },
    watch: {
      'input.konfirmasi': function(newConfirmation) {
        if (newConfirmation !== this.input.password) {
          this.error.konfirmasi = ['Password dan konfirmasi password harus sama']
        } else {
          this.error.konfirmasi = null
        }
      },
      'input.username': function(newUsername) {
        this.onCheck(newUsername)
      }
    }
  }
</script>
