<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Profil Pengguna
          <small>Profil Anda saat ini</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Profil</h3>
              </div>
              <form v-on:submit.prevent="onEdit" role="form">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama">Nama</label>
                    <input v-model="input.nama" type="text" class="form-control" placeholder="Nama lengkap" :disabled="isLoading">
                    <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.username}">
                    <label for="username">Username</label>
                    <input v-model="input.username" type="text" class="form-control" :placeholder="username" :disabled="isLoading">
                    <span v-if="error.username" v-html="getUsernameErrorMessages" class="help-block"></span>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.password}">
                    <label for="password">Password</label>
                    <input v-model="input.password" type="password" class="form-control" placeholder="Password saat ini" :disabled="isLoading">
                    <span class="help-block"><small>Biarkan kosong jika tidak ingin mengganti password</small></span>
                    <span v-if="error.password" v-html="getPasswordErrorMessages" class="help-block"></span>
                  </div>
                  <div v-if="isShow" :class="{'form-group': true, 'has-error': error.passwordBaru}">
                    <label for="password">Password Baru</label>
                    <input v-model="input.passwordBaru" type="password" class="form-control" placeholder="Password baru" :disabled="isLoading">
                    <span v-if="error.passwordBaru" v-html="getNewPasswordErrorMessages" class="help-block"></span>
                  </div>
                  <div v-if="isShow" :class="{'form-group': true, 'has-error': error.konfirmasi}">
                    <label for="password">Konfirmasi Password</label>
                    <input v-model="input.konfirmasi" type="password" class="form-control" placeholder="Konfirmasi password" :disabled="isLoading">
                    <span v-if="error.konfirmasi" v-html="getConfirmationErrorMessages" class="help-block"></span>
                  </div>
                </div>
                <div class="box-footer">
                  <button v-if="!isLoading" type="submit" class="btn btn-info btn-flat pull-right">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <i class="glyphicon glyphicon-pencil"></i> Sunting
                    </template>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    nama: null,
    username: null,
    password: null,
    passwordBaru: null,
    konfirmasi: null
  }
  const initialError = {
    nama: null,
    username: null,
    password: null,
    passwordBaru: null,
    konfirmasi: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader
    },
    data() {
      return {
        username: null,
        isLoading: false,
        isSubmiting: false,
        input: {
          nama: null,
          username: null,
          password: null,
          passwordBaru: null,
          konfirmasi: null
        },
        error: {
          nama: null,
          username: null,
          password: null,
          passwordBaru: null,
          konfirmasi: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getUsernameErrorMessages() {
        if (this.error.username) {
          return this.error.username.join('<br />')
        }
      },
      getPasswordErrorMessages() {
        if (this.error.password) {
          return this.error.password.join('<br />')
        }
      },
      getNewPasswordErrorMessages() {
        if (this.error.passwordBaru) {
          return this.error.passwordBaru.join('<br />')
        }
      },
      getConfirmationErrorMessages() {
        if (this.error.konfirmasi) {
          return this.error.konfirmasi.join('<br />')
        }
      },
      isShow() {
        let status = true
        if (this.input.password === null) {
          status = false
        } else if (this.input.password === '') {
          status = false
        }
        return status
      }
    },
    methods: {
      onCheck: _.debounce(
        function(username) {
          const user = JSON.parse(window.localStorage.getItem('user'))
          if (user.username === username) {
            this.error.username = null
            return
          }
          const _this = this
          const data = {
            username
          }
          _this.$http.post(`api/user/username`, data, getAuthorizationToken())
          .then(function(res) {
            if (parseInt(res.data)) {
              _this.error.username = null
            } else {
              _this.error.username = ['Username sudah terpakai']
            }
          }).catch(function(err) {
            console.error(err)
          })
        }, 1000
      ),
      onFetch(userId) {
        this.isLoading = true
        this.$http.get(`api/user/${userId}`, getAuthorizationToken())
        .then(function(res) {
          this.isLoading = false
          this.input = {
            ...initialInput
          }
          this.error = {
            ...initialError
          }
          this.input.nama = res.data.name
          this.input.username = res.data.username
        }).catch(function(err) {
          console.error(err)
          this.isLoading = false
          galat(err.data.message)
        })
      },
      onEdit() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (this.input.password === null || this.input.password === '') {
          
        } else {
          if (this.input.passwordBaru === null || this.input.passwordBaru === '') {
            isError = true
            this.error.passwordBaru = ['Password baru harus diisi']
          }
          if (this.input.konfirmasi === null || this.input.konfirmasi === '') {
            isError = true
            this.error.konfirmasi = ['Konfirmasi harus diisi']
          }
          if (this.input.konfirmasi !== this.input.passwordBaru) {
            isError = true
            this.error.konfirmasi = ['Konfirmasi harus sama dengan password baru']
          }
        }
        if (isError) {
          return
        }
        const user = JSON.parse(window.localStorage.getItem('user'))
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          username: (this.input.username === null || this.input.username === '') ? user.username : this.input.username,
          password: this.input.password,
          passwordBaru: this.input.passwordBaru
        }
        this.$http.put(`api/user/${user.id}`, data, getAuthorizationToken())
        .then(function(res) {
          this.isSubmiting = false
          const newUser = {
            ...user,
            name: res.data.name,
            username: res.data.username
          }
          window.localStorage.setItem('user', JSON.stringify(newUser))
          this.updateUsername()
          berhasil('Profil berhasil diperbaruhi')
          this.onFetch(user.id)
        })
        .catch(function(err) {
          console.error(err)
          this.isSubmiting = false
          galat(err.data.message)
        })
      },
      updateUsername() {
        const user = JSON.parse(window.localStorage.getItem('user'))
        this.username = user.username
      }
    },
    created() {
      const user = JSON.parse(window.localStorage.getItem('user'))
      this.onFetch(user.id)
      this.updateUsername()
    },
    watch: {
      'input.konfirmasi': function(newConfirmation) {
        if (newConfirmation !== this.input.passwordBaru) {
          this.error.konfirmasi = ['Password baru dan konfirmasi password harus sama']
        } else {
          this.error.konfirmasi = null
        }
      },
      'input.username': function(newUsername) {
        this.onCheck(newUsername)
      }
    }
  }
</script>
