<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Daftar Pengguna
          <small>Lihat semua daftar pengguna</small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Daftar pengguna</h3>
                <div v-if="!userStore.isLoading" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input v-model="keyword" @keyup.enter="onSearch" type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="userStore.isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th>#</th>
                      <th>Nama</th>
                      <th>Username</th>
                      <th>Departemen</th>
                      <th>Hak Akses</th>
                      <th>Aksi</th>
                    </tr>
                    <tr v-for="user in userStore.users">
                      <td>{{user.id}}</td>
                      <td>{{user.name}}</td>
                      <td>{{user.username}}</td>
                      <td>{{(user.departement === null) ? '' : user.departement.name }}</td>
                      <td>{{user.roles[0].name}}</td>
                      <td>
                        <div class="btn-group">
                          <button @click.prevent="onDelete(user.id)" class="btn btn-sm btn-flat btn-danger" title="Hapus akun pengguna dari sistem"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
                <simple-pagination v-if="!userStore.isLoading && (userStore.prev_page_url !== null || userStore.next_page_url !== null)" :onFetch="onFetch" :prevPageUrl="userStore.prev_page_url" :nextPageUrl="userStore.next_page_url"></simple-pagination>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { getAuthorizationToken, galat, berhasil } from '../../functions'
  import Alert from '../Common/Alert.vue'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import SimplePagination from '../Common/SimplePagination.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  export default {
    components: {
      Alert,
      Navbar,
      Sidebar,
      SimplePagination,
      ClipLoader
    },
    data() {
      return {
        keyword: null
      }
    },
    computed: {
      ...mapState({
        userStore: state => state.userStore
      })
    },
    methods: {
      onFetch(query = null) {
        let url = `api/user`
        if (query) {
          url += query
        }
        this.$store.dispatch('toggleUserLoading')
        this.$http.get(url, getAuthorizationToken()).then(function(res) {
          this.$store.dispatch('getUsers', res.body.data)
          this.$store.dispatch('getUsersPagination', { prev_page_url: res.body.prev_page_url, next_page_url: res.body.next_page_url})
          this.$store.dispatch('toggleUserLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleUserLoading')
        })
      },
      onSearch() {
        this.onFetch(`?keyword=${this.keyword}`);
      },
      onDelete(userId) {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang dihapus tidak dapat dikembalikan lagi!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/user/${userId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      }
    },
    created() {
      this.onFetch()
    }
  }
</script>
