<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rekap Detail Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div v-if="periods.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih periode</span>
                    <select v-model="selectedPeriod" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value" :disabled="reportStore.isReportDetailLoading">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="btn-group">
                  <button v-if="!reportStore.isReportDetailLoading && reportStore.reportDetail.length > 0" @click="onAction(true)" class="btn btn-success btn-sm btn-flat" title="Unduh rekap anggaran" :disabled="reportStore.isReportDetailLoading">
                    <i class="glyphicon glyphicon-download-alt"></i> Unduh
                  </button>
                  <button v-if="!reportStore.isReportDetailLoading && reportStore.reportDetail.length > 0" @click="onAction(false)" class="btn btn-success btn-sm btn-flat" title="Cetak rekap anggaran" :disabled="reportStore.isReportDetailLoading">
                    <i class="glyphicon glyphicon-print"></i> Cetak
                  </button>
                  <button v-if="!reportStore.isReportDetailLoading && reportStore.reportDetail.length > 0" @click="onExport" class="btn btn-success btn-sm btn-flat" title="Ekspor rekap anggaran" :disabled="reportStore.isReportDetailLoading">
                    <i class="glyphicon glyphicon-export"></i> Ekspor
                  </button>
                </div>
              </div>
              <div class="box-body">
                <clip-loader v-if="reportStore.isReportDetailLoading"></clip-loader>
                <table v-else class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>Kode Rekening</th>
                      <th>Nama Rekening</th>
                      <th>Nama</th>
                      <th>Volume</th>
                      <th>Satuan</th>
                      <th>Harga</th>
                      <th>Lokasi</th>
                      <th>Unit</th>
                      <th>Jumlah Anggaran</th>
                    </tr>
                    <tr v-if="selectedPeriod === null">
                      <td colspan="9" class="text-center">Silakan pilih periode terlebih dahulu</td>
                    </tr>
                    <tr v-else-if="reportStore.reportDetail.length === 0">
                      <td colspan="9" class="text-center">Tidak ada data</td>
                    </tr>
                    <tr v-else v-for="(item, index) in reportStore.reportDetail">
                      <td>
                        <strong>
                          {{
                            (index === 0) ? item.bill.code :
                            (reportStore.reportDetail[index -1].bill.id === reportStore.reportDetail[index].bill.id) ? '' : item.bill.code
                          }}
                        </strong>
                      </td>
                      <td>
                        <strong>
                          {{
                            (index === 0) ? item.bill.name :
                            (reportStore.reportDetail[index -1].bill.id === reportStore.reportDetail[index].bill.id) ? '' : item.bill.name
                          }}
                        </strong>
                      </td>
                      <td>{{item.name}}</td>
                      <td class="text-right">{{getRibuan(item.volume)}}</td>
                      <td>{{item.unit}}</td>
                      <td class="text-right">{{getRupiah(item.price)}}</td>
                      <td>{{item.location}}</td>
                      <td>{{item.departement.name}}</td>
                      <td class="text-right">{{getRupiah(item.total)}}</td>
                    </tr>
                    <tr v-if="selectedPeriod != null && reportStore.reportDetail.length != 0">
                        <td colspan="8" class="text-center"><strong>Total</strong></td>
                        <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import moment from 'moment'
  import Papa from 'papaparse'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import { getAuthorizationToken, rupiah, galat } from '../../functions'
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader
    },
    computed: {
      ...mapState({
        reportStore: state => state.reportStore
      }),
      options: function() {
        return this.periods.map(period => {
          return {
            value: period.id,
            text: period.name +' - '+ period.year
          }
        })
      }
    },
    data() {
      return {
        periods: [],
        selectedPeriod: null
      }
    },
    methods: {
      getPeriods() {
        this.$store.dispatch('toggleReportDetailLoading')
        this.$http.get(`api/period`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportDetailLoading')
          this.periods = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportDetailLoading')
          galat(err.data.message)
        })
      },
      getTotal() {
        return _.sumBy(this.reportStore.reportDetail, function(value) {
          return parseInt(value.total)
        })
      },
      onFetch(id) {
        let url = `api/detail/${id}`
        this.$store.dispatch('toggleReportDetailLoading')
        this.$http.get(url, getAuthorizationToken())
        .then(function(res) {
          const data = res.data.map(function(item) {
            const bill = (item.bill_id === null) ? {code: '', name: 'Lain-lain'} : item.bill
            return {
              ...item,
              bill
            }
          })
          this.$store.dispatch('getReportDetail', data)
          this.$store.dispatch('toggleReportDetailLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportDetailLoading')
        })
      },
      getRupiah(num) {
        return rupiah(num)
      },
      getRibuan: function(num) {
        return new Intl.NumberFormat(['ban', 'id']).format(num)
      },
      onExport() {
        let total = 0
        let data = []
        const reportDetail = this.reportStore.reportDetail
        this.reportStore.reportDetail.forEach(function(value, index) {
          total += parseInt(value.total)
          data = [
            ...data,
            [
              (value.bill_id === null) ? '' : value.bill.code,
              (value.bill_id === null) ? 'Lain-lain' : value.bill.name,
              value.name,
              new Intl.NumberFormat(['ban', 'id']).format(value.volume),
              value.unit,
              value.price,
              value.location,
              value.departement.name,
              value.total,
            ]
          ]
          if (index === reportDetail.length - 1) {
            data = [
              ...data,
              [
                '',
                '',
                'Total',
                '',
                '',
                '',
                '',
                '',
                total,
              ]
            ]
          }
        })
        const csv = Papa.unparse({
          fields: ['Kode Rekening', 'Nama Rekening', 'Nama', 'Volume', 'Satuan', 'Harga', 'Lokasi', 'Unit', 'Anggaran'],
          data
        })
        const str = Papa.unparse(data, {
          quotes: true,
          quoteChar: '"',
          delimiter: ',',
          header: false,
          newline: '\r\n'
        })
        const user = JSON.parse(localStorage.getItem('user'))
        const csvData = new Blob([csv], {type: 'text/csv;charset=utf-8;'});
        const csvURL = window.URL.createObjectURL(csvData);
        const tempLink = document.createElement('a');
        tempLink.href = csvURL;
        tempLink.setAttribute('download', user.departement.name + ' (Detail).csv');
        tempLink.click();
      },
      onAction(isDownload = false) {
        this.$store.dispatch('toggleReportDetailLoading')
        const user = JSON.parse(localStorage.getItem('user'))
        this.$http.get(`api/coordinator/${user.departement.id}`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportDetailLoading')
          if (typeof res.data.name === 'undefined' && typeof res.data.nip === 'undefined') {
            galat('Penananggung jawab masih kosong, silakan isi di halaman pengaturan terlebih dahulu!')
          } else {
            const name = res.data.name
            const nip = res.data.nip
            let total = 0
            let data = []
            const reportDetail = this.reportStore.reportDetail
            this.reportStore.reportDetail.forEach(function(value, index) {
              total += parseInt(value.total)
              if (index === 0 || value.bill_id !== reportDetail[index - 1].bill_id) {
                const tempBillId = value.bill_id
                const filteredReportDetail = reportDetail.filter(function(value) {
                  return value.bill_id === tempBillId
                })
                const sum = _.sumBy(filteredReportDetail, function(value) {
                  return parseInt(value.total)
                })
                data = [
                  ...data,
                  [
                    value.bill.code,
                    value.bill.name,
                    {text: '', colSpan: 6},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {text: rupiah(sum), style: 'rupiah'},
                  ],
                  [
                    '',
                    '',
                    value.name,
                    {text: new Intl.NumberFormat(['ban', 'id']).format(value.volume), alignment: 'right'},
                    {text: value.unit},
                    {text: rupiah(value.price), style: 'rupiah'},
                    value.location,
                    value.departement.name,
                    {text: rupiah(value.total), style: 'rupiah'},
                  ]
                ]
              } else {
                data = [
                  ...data,
                  [
                    '',
                    '',
                    value.name,
                    {text: new Intl.NumberFormat(['ban', 'id']).format(value.volume), alignment: 'right'},
                    value.unit,
                    {text: rupiah(value.price), style: 'rupiah'},
                    value.location,
                    value.departement.name,
                    {text: rupiah(value.total), style: 'rupiah'},
                  ]
                ]
              }
            })
            const selectedPeriod = this.selectedPeriod
            let period = this.periods.filter(function(value) {
              return value.id === selectedPeriod
            })
            const formatedData = [
              [ {text: 'Kode', style: 'tableHeader'}, {text: 'Rekening', style: 'tableHeader'}, {text: 'Nama', style: 'tableHeader'}, {text: 'Volume', style: 'tableHeader'}, {text: 'Satuan', style: 'tableHeader'}, {text: 'Harga', style: 'tableHeader'}, {text: 'Lokasi', style: 'tableHeader'}, {text: 'Unit', style: 'tableHeader'}, {text: 'Anggaran', style: 'tableHeader'} ],
              ...data,
              [ {text: 'Total', colSpan: 8, alignment: 'center'}, {}, {}, {}, {}, {}, {}, {}, {text: rupiah(total), alignment: 'right'} ]
            ]

            const docDefinition = {
              pageSize: 'A4',
              pageMargins: 15,
              styles: {
                header: {
                  alignment: 'center',
                  fontSize: 12
                },
                tableHeader: {
                  bold: true,
                  fontSize: 10,
                  color: 'black',
                  alignment: 'center'
                },
                table: {
                  margin: [0, 5, 0, 15],
                  fontSize: 9
                },
                rupiah: {
                  alignment: 'right'
                }
              },
              content: [
                { text: 'RANCANGAN ANGGARAN', style: 'header' },
                { text: 'RSUD KABUPATEN TEMANGGUNG', style: 'header' },
                { text: 'TAHUN ANGGARAN ' + period[0].year, style: 'header' },
                { text: 'Bidang         : ' + user.departement.name, alignment: 'left', style: { fontSize: 10 }, margin: [0, 15, 0, 0] },
                {
                  style: 'table',
                  table: {
                    headerRows: 1,
                    widths: [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
                    body: formatedData
                  }
                },
                {
                  layout: 'noBorders',
                  table: {
                    widths: [ '*', '*', '*' ],
                    body: [
                      ['', '', { text: 'Temanggung, ' + moment().format('LL'), alignment: 'center' }],
                      ['', '', { text: 'Pejabat Pengguna Anggota', alignment: 'center', margin: [0, 0, 0, 50] }],
                      ['', '', { text: name, alignment: 'center' }],
                      ['', '', { text: 'NIP' + nip, alignment: 'center' }]
                    ]
                  }
                }
              ]
            };
            if (isDownload) {
              pdfMake.createPdf(docDefinition).download(user.departement.name + ' (Detail).pdf');
            } else {
              pdfMake.createPdf(docDefinition).print();
            }
          }
        })
        .catch(function(err) {
          this.$store.dispatch('toggleReportDetailLoading')
          console.error(err)
          galat(err.data.message)
        })
      }
    },
    watch: {
      selectedPeriod: function(id) {
        this.onFetch(id)
      }
    },
    created() {
      moment.locale('id')
      this.getPeriods()
    }
  }
</script>
