<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Rekap Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div v-if="periods.length > 0" class="box-tools">
                  <div class="input-group input-group-sm" style="width: 300px;">
                    <span class="input-group-addon" id="basic-addon3">Pilih periode</span>
                    <select v-model="selectedPeriod" class="form-control pull-right">
                      <option v-for="option in options" v-bind:value="option.value" :disabled="reportStore.isReportRecapLoading">
                        {{ option.text }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="btn-group">
                  <button v-if="!reportStore.isReportRecapLoading && reportStore.reportRecap.length > 0" @click="onAction(true)" class="btn btn-success btn-sm btn-flat pull-left" title="Unduh rekap anggaran" :disabled="isPrinting">
                    <i class="glyphicon glyphicon-download-alt"></i> Unduh
                  </button>
                  <button v-if="!reportStore.isReportRecapLoading && reportStore.reportRecap.length > 0" @click="onAction(false)" class="btn btn-success btn-sm btn-flat pull-left" title="Cetak rekap anggaran" :disabled="isPrinting">
                    <i class="glyphicon glyphicon-print"></i> Cetak
                  </button>
                  <button v-if="!reportStore.isReportRecapLoading && reportStore.reportRecap.length > 0" @click="onExport" class="btn btn-success btn-sm btn-flat pull-left" title="Ekspor rekap anggaran" :disabled="isPrinting">
                    <i class="glyphicon glyphicon-export"></i> Ekspor
                  </button>
                </div>
              </div>
              <div class="box-body">
                <clip-loader v-if="reportStore.isReportRecapLoading"></clip-loader>
                <table v-else class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="text-center">Kode Rekening</th>
                      <th class="text-center">Nama Rekening</th>
                      <th class="text-center">
                        Anggaran
                        <br>
                        <small>(Jumlah dari detail anggaran masing masing rekening)</small>
                      </th>
                    </tr>
                    <tr v-if="selectedPeriod === null">
                      <td colspan="3" class="text-center">Silakan pilih periode terlebih dahulu</td>
                    </tr>
                    <tr v-else-if="reportStore.reportRecap.length === 0">
                      <td colspan="3" class="text-center">Tidak ada data</td>
                    </tr>
                    <tr v-else v-for="(budget, index) in reportStore.reportRecap">
                      <td>{{budget.code}}</td>
                      <td>{{budget.name}}</td>
                      <td class="text-right">{{getRupiah(budget.total)}}</td>
                    </tr>
                    <tr v-if="selectedPeriod != null && reportStore.reportRecap.length != 0">
                        <td colspan="2" class="text-center"><strong>Total</strong></td>
                        <td class="text-right"><strong>{{getRupiah(getTotal())}}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer clearfix">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import moment from 'moment'
  import Papa from 'papaparse'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import { getAuthorizationToken, rupiah, galat } from '../../functions'
  export default {
    components: {
      Navbar,
      Sidebar,
      ClipLoader
    },
    computed: {
      ...mapState({
        reportStore: state => state.reportStore
      }),
      options: function() {
        return this.periods.map(period => {
          return {
            value: period.id,
            text: period.name +' - '+ period.year
          }
        })
      }
    },
    data() {
      return {
        periods: [],
        selectedPeriod: null
      }
    },
    methods: {
      getPeriods() {
        this.$store.dispatch('toggleReportRecapLoading')
        this.$http.get(`api/period`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportRecapLoading')
          this.periods = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportRecapLoading')
        })
      },
      getTotal() {
        return _.sumBy(this.reportStore.reportRecap, function(value) {
          return parseInt(value.total)
        })
      },
      onExport() {
        let total = 0
        let data = []
        const reportRecap = this.reportStore.reportRecap
        this.reportStore.reportRecap.forEach(function(value, index) {
          total += parseInt(value.total)
          data = [
            ...data,
            [
              value.code,
              value.name,
              value.total
            ]
          ]
          if (index === reportRecap.length - 1) {
            data = [
              ...data,
              [
                '',
                'Total',
                total,
              ]
            ]
          }
        })
        const csv = Papa.unparse({
          fields: ['Kode Rekening', 'Nama Rekening', 'Anggaran'],
          data
        })
        const str = Papa.unparse(data, {
          quotes: true,
          quoteChar: '"',
          delimiter: ',',
          header: false,
          newline: '\r\n'
        })
        const user = JSON.parse(localStorage.getItem('user'))
        const csvData = new Blob([csv], {type: 'text/csv;charset=utf-8;'});
        const csvURL = window.URL.createObjectURL(csvData);
        const tempLink = document.createElement('a');
        tempLink.href = csvURL;
        tempLink.setAttribute('download', user.departement.name + ' (Rekap).csv');
        tempLink.click();
      },
      onFetch(id) {
        this.$store.dispatch('toggleReportRecapLoading')
        this.$http.get(`api/recap/${id}`, getAuthorizationToken())
        .then(function(res) {
          const data = res.data.map(function(item) {
            const bill = (item.bill_id === null) ? {code: '', name: 'Lain-lain'} : item.bill
            return {
              ...item,
              bill
            }
          })
          const groupedData = _.groupBy(data, function(item) {
            return item.bill_id
          })
          let recap = []
          _.forEach(groupedData, function(value, key) {
            let tempTotal = 0
            value.forEach(function(item) {
              tempTotal += parseInt(item.total)
            })
            const data = {
              code: value[0].bill.code,
              name: value[0].bill.name,
              total: tempTotal
            }
            recap.push(data)
          })
          this.$store.dispatch('getReportRecap', recap)
          this.$store.dispatch('toggleReportRecapLoading')
        }).catch(function(err) {
          console.error(err)
          this.$store.dispatch('toggleReportRecapLoading')
        })
      },
      getRupiah(num) {
        return rupiah(num)
      },
      onAction(isDownload = false) {
        this.$store.dispatch('toggleReportRecapLoading')
        const user = JSON.parse(localStorage.getItem('user'))
        this.$http.get(`api/coordinator/${user.departement.id}`, getAuthorizationToken())
        .then(function(res) {
          this.$store.dispatch('toggleReportRecapLoading')
          if (typeof res.data.name === 'undefined' && typeof res.data.nip === 'undefined') {
            galat('Penananggung jawab masih kosong, silakan isi di halaman pengaturan terlebih dahulu!')
          } else {
            const name = res.data.name
            const nip = res.data.nip
            let total = 0
            let data = this.reportStore.reportRecap.map(function(value, index) {
              total += parseInt(value.total)
              return [
                value.code,
                value.name,
                {text: rupiah(value.total), style: 'rupiah'}
              ]
            })
            const selectedPeriod = this.selectedPeriod
            let period = this.periods.filter(function(value) {
              return value.id === selectedPeriod
            })
            const formatedData = [
              [ {text: 'Kode', style: 'tableHeader'}, {text: 'Uraian', style: 'tableHeader'}, {text: 'Anggaran', style: 'tableHeader'} ],
              ...data,
              [ {text: 'Total', colSpan: 2, alignment: 'center'}, {}, {text: rupiah(total), alignment: 'right'} ]
            ]

            const docDefinition = {
              pageSize: 'A4',
              pageMargins: 15,
              styles: {
                header: {
                  alignment: 'center',
                  fontSize: 13
                },
                tableHeader: {
                  bold: true,
                  fontSize: 11,
                  color: 'black',
                  alignment: 'center'
                },
                table: {
                  margin: [0, 5, 0, 15],
                  fontSize: 11
                },
                rupiah: {
                  alignment: 'right'
                }
              },
              content: [
                { text: 'RANCANGAN ANGGARAN', style: 'header' },
                { text: 'RSUD KABUPATEN TEMANGGUNG', style: 'header' },
                { text: 'TAHUN ANGGARAN ' + period[0].year, style: 'header' },
                { text: 'Bidang         : ' + user.departement.name, alignment: 'left', style: { fontSize: 10 }, margin: [0, 15, 0, 0] },
                {
                  style: 'table',
                  table: {
                    headerRows: 1,
                    widths: [ '*', '*', '*' ],
                    body: formatedData
                  }
                },
                {
                  layout: 'noBorders',
                  table: {
                    widths: [ '*', '*', '*' ],
                    body: [
                      ['', '', { text: 'Temanggung, ' + moment().format('LL'), alignment: 'center' }],
                      ['', '', { text: 'Pejabat Pengguna Anggota', alignment: 'center', margin: [0, 0, 0, 50] }],
                      ['', '', { text: name, alignment: 'center' }],
                      ['', '', { text: 'NIP' + nip, alignment: 'center' }]
                    ]
                  }
                }
              ]
            };
            if (isDownload) {
              pdfMake.createPdf(docDefinition).download(user.departement.name + ' (Rekap).pdf');
            } else {
              pdfMake.createPdf(docDefinition).print();
            }
          }
        })
        .catch(function(err) {
          this.$store.dispatch('toggleReportRecapLoading')
          console.error(err)
        })
      }
    },
    watch: {
      selectedPeriod: function(id) {
        this.onFetch(id)
      },
    },
    created() {
      moment.locale('id')
      this.getPeriods()
    }
  }
</script>
