<template>
  <div v-cloak class="login-box">
    <img src="images/SIPA.png" style="margin: 0 auto; display: block; padding-bottom: 5px;">
    <!-- <h3 class="text-center"><b>Sistem Perencanaan Anggaran</b></h3> -->
    <!-- <h4 class="text-center"><b>RSUD Temanggung</b></h4> -->
    <div class="login-box-body">
      <alert></alert>
      <p class="login-box-msg">Silakan masuk dengan ID Anda!</p>
      <form v-on:submit.prevent="onSubmit" method="post">
        <div class="form-group has-feedback">
          <input v-model="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group has-feedback">
          <input v-model="password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="row">
          <div class="col-xs-6 pull-right">
            <button type="submit" class="btn btn-success btn-block btn-flat" :disabled="authStore.isLoading">
              <pulse-loader v-if="authStore.isLoading" size="10px"></pulse-loader>
              <span v-else>Masuk</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Alert from '../Common/Alert.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import { CLIENT_ID, CLIENT_SECRET } from '../../env'
  export default {
    components: {
      Alert,
      PulseLoader
    },
    data() {
      return {
        username: '',
        password: ''
      }
    },
    computed: {
      ...mapState({
        authStore: state => state.authStore
      })
    },
    methods: {
      onSubmit(e) {
        const data = {
          grant_type: 'password',
          client_id: CLIENT_ID,
          client_secret: CLIENT_SECRET,
          username: this.username,
          password: this.password,
          scope: ''
        }
        this.$store.dispatch('toggleLoading')
        let auth
        this.$http.post(`oauth/token`, data)
        .then(function(res) {
          auth = res.data
          return this.$http.get(`api/user/info`, {
            headers: {
              Authorization: `${auth.token_type} ${auth.access_token}`
            }
          })
        })
        .then(function(res) {
          this.$store.dispatch('toggleLoading')
          const user = {
            id: res.data.id,
            name: res.data.name,
            username: res.data.username,
            departement: res.data.departement,
            roles: res.data.roles.map(function(role) {
              return role.slug
            }),
            descendants: res.data.descendants
          }
          window.localStorage.setItem('auth', JSON.stringify(auth))
          window.localStorage.setItem('user', JSON.stringify(user))
          this.$router.push({ name: 'beranda' })
        })
        .catch(function(err) {
          this.$store.dispatch('toggleLoading')
          this.$store.dispatch('setAlert', { type: 'error', message: 'Username atau password salah!' })
          console.error(err)
        })
      }
    },
    created() {
      const auth = JSON.parse(window.localStorage.getItem('auth'))
      const user = JSON.parse(window.localStorage.getItem('user'))
      if (auth && user) {
        this.$router.push({ name: 'beranda' })
      } else {
        $('body').addClass('login-page');
      }
    }
  }
</script>
