<template>
  <div class="wrapper">
    <navbar></navbar>
    <sidebar></sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Periode Anggaran
          <small></small>
        </h1>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 v-if="!isEdit" class="box-title">Tambah periode anggaran</h3>
                <h3 v-if="isEdit" class="box-title">Sunting periode anggaran</h3>
              </div>
              <form v-on:submit.prevent="onSubmit" class="form-horizontal">
                <div class="box-body">
                  <div :class="{'form-group': true, 'has-error': error.nama}">
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input v-model="input.nama" type="text" class="form-control" id="nama" placeholder="">
                      <span v-if="error.nama" v-html="getNameErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                  <div :class="{'form-group': true, 'has-error': error.tahun}">
                    <label for="tahun" class="col-sm-2 control-label">Tahun</label>
                    <div class="col-sm-10">
                      <input v-model="input.tahun" type="text" class="form-control" id="tahun" placeholder="">
                      <span v-if="error.tahun" v-html="getYearErrorMessages" class="help-block"></span>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <a @click.prevent="onRevision" v-if="isEdit && !input.revisi" class="pull-left" href="#"><small><i>Masuk dalam anggaran perubahan</i></small></a>
                  <button type="submit" class="btn btn-success pull-right btn-sm btn-flat" title="Tambah periode" :disabled="isSubmiting">
                    <pulse-loader v-if="isSubmiting" color="#fff" size="10px"></pulse-loader>
                    <template v-else>
                      <template v-if="!isEdit">
                        <i class="glyphicon glyphicon-plus-sign"></i> Tambah
                      </template>
                      <template v-if="isEdit">
                        <i class="glyphicon glyphicon-pencil"></i> Sunting
                      </template>
                    </template>
                  </button>
                  <button v-if="isEdit" @click.prevent="onReset" class="btn btn-default pull-right btn-sm btn-flat" title="Riset input form" :disabled="isSubmiting">
                    <i class="glyphicon glyphicon-arrow-left"></i> Kembali
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Daftar periode anggaran</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <clip-loader v-if="isLoading"></clip-loader>
                <table v-else class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Nama</th>
                      <th>Tahun</th>
                      <th>Ang. Perbaikan</th>
                      <th>Status</th>
                      <th>Aksi</th>
                    </tr>
                    <tr v-if="periods.length === 0">
                      <td colspan="4" class="text-center"><i>Tidak terdapat data</i></td>
                    </tr>
                    <tr v-else v-for="period in periods">
                      <td>{{period.name}}</td>
                      <td>{{period.year}}</td>
                      <td>{{(period.has_revision) ? 'Ada' : 'Tidak ada'}}</td>
                      <td>{{(period.is_active) ? 'Aktif' : 'Tidak aktif'}}</td>
                      <td>
                        <div class="btn-group">
                          <button @click.prevent="onEdit(period)" class="btn btn-sm btn-flat btn-default" title="Sunting periode"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button @click.prevent="onDelete(period.id)" class="btn btn-sm btn-flat btn-default" title="Hapus periode"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Multiselect from 'vue-multiselect'
  import Navbar from '../Common/Navbar.vue'
  import Sidebar from '../Common/Sidebar.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
  import { rupiah, getAuthorizationToken, berhasil, galat } from '../../functions'
  const initialInput = {
    id: null,
    nama: null,
    tahun: null,
    revisi: false
  }
  const initialError = {
    nama: null,
    tahun: null
  }

  export default {
    components: {
      Navbar,
      Sidebar,
      Multiselect,
      PulseLoader,
      ClipLoader
    },
    data() {
      return {
        isLoading: false,
        isSubmiting: false,
        isEdit: false,
        periods: [],
        input: {
          id: null,
          nama: null,
          tahun: null,
          revisi: false
        },
        error: {
          nama: null,
          tahun: null
        }
      }
    },
    computed: {
      getNameErrorMessages() {
        if (this.error.nama) {
          return this.error.nama.join('<br />')
        }
      },
      getYearErrorMessages() {
        if (this.error.tahun) {
          return this.error.tahun.join('<br />')
        }
      }
    },
    methods: {
      onSubmit() {
        this.error = {
          ...initialError
        }
        let isError = false
        if (this.input.tahun === null || this.input.tahun === '') {
          isError = true
          this.error.tahun = ['Tahun harus diisi']
        }
        if (this.input.nama === null || this.input.nama === '') {
          isError = true
          this.error.nama = ['Nama harus diisi']
        }
        if (isError) {
          return
        }
        this.isSubmiting = true
        const data = {
          nama: this.input.nama,
          tahun: this.input.tahun
        }
        if (this.isEdit) {
          this.$http.put(`api/period/${this.input.id}`, data, getAuthorizationToken())
          .then(function(res) {
            this.isSubmiting = false
            this.onReset()
            berhasil('Periode berhasil disunting')
            this.onFetch()
          })
          .catch(function(err) {
            console.error(err)
            this.isSubmiting = false
            galat(err.data.message)
          })
        } else {
          this.$http.post(`api/period`, data, getAuthorizationToken())
          .then(function(res) {
            this.isSubmiting = false
            this.onReset()
            berhasil('Periode berhasil ditambahkan')
            this.onFetch()
          }).catch(function(err) {
            console.error(err)
            this.isSubmiting = false
            galat(err.data.message)
          })
        }
      },
      onEdit(period)
      {
        this.input = {
          ...initialInput
        }
        this.error = {
          ...initialError
        }
        this.isEdit = true
        this.input.id = period.id
        this.input.nama = period.name
        this.input.tahun = period.year
        this.input.revisi = period.has_revision
      },
      onReset()
      {
        this.isEdit = false
        this.input = {
          ...initialInput
        }
        this.error = {
          ...initialError
        }
      },
      onRevision()
      {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Periode akan memasuki masa perubahan anggaran dan tidak dapat dikembalikan kembali!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.isSubmiting = true
          _this.$http.get(`api/period/revision/${_this.input.id}`, getAuthorizationToken())
          .then(function(res) {
            _this.isSubmiting = false
            _this.onReset()
            _this.onFetch()
            berhasil('Periode memasuki perubahan anggaran')
          }).catch(function(err) {
            console.error(err)
            _this.isSubmiting = false
            galat(err.data.message)
          })
        })
      },
      onDelete(periodId)
      {
        const _this = this
        swal({
          title: 'Apakah Anda yakin?',
          text: 'Data yang berada di bawah rekening ini juga akan dihapus!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        }, function() {
          _this.$http.delete(`api/period/${periodId}`, getAuthorizationToken())
          .then(function(res) {
            berhasil('Data berhasil dihapus')
            _this.onFetch()
          }).catch(function(err) {
            console.error(err)
            galat(err.data.message)
          })
        })
      },
      onFetch() {
        this.isLoading = true
        this.$http.get(`api/period`, getAuthorizationToken())
        .then(function(res) {
          this.isLoading = false
          this.periods = res.data
        })
        .catch(function(err) {
          console.error(err)
          this.isLoading = false
          galat(err.data.message)
        })
      }
    },
    created() {
      this.onFetch()
    }
  }
</script>
